<template>
  <q-page class="bg-white">
    <q-virtual-scroll :items="rows" class="my-body">
      <template v-slot="{ item, index }">
        <q-separator inset />
        <q-item :key="index" clickable>
          <q-item-section v-if="!item.search">
            <q-item-label
              >TIPO:
              {{ item.nombre }}
            </q-item-label>
            <q-item-label caption class="text-capitalize">
              NOMBRE:
              {{ item.titulo }}
            </q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-btn
              color="n360"
              round
              flat
              icon="download"
              size="sm"
              @click="descargar(item._id)"
            />
          </q-item-section>
        </q-item>
      </template>
    </q-virtual-scroll>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
import { openURL } from "quasar";
export default {
  name: "ListadoDesktop",
  data() {
    return {
      rows: [],
    };
  },
  computed: {
    ...mapState("generals", ["user", "company"]),
  },
  methods: {
    listado() {
      try {
        this.$api
          .post("certificados-laborales/listado", {
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            parent_company: this.user.data.parent_company,
          })
          .then((v) => {
            this.rows = v.data;
          });
      } catch (error) {
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    async descargar(id) {
      this.$q.loading.show({ message: "Generando certificado laboral..." });

      try {
        this.$api
          .post("certificados-laborales/pdf", {
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            parent_company: this.user.data.parent_company,
            user: this.user.data._id,
            formato: id,
          })
          .then((v) => {
            openURL(`${this.company.apiUrl}/${v.data}`);
            this.$q.loading.hide();
          });
      } catch (error) {
        this.$q.loading.hide();
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
  },
  async mounted() {
    await this.listado();
  },
};
</script>
