<template>
  <div>
    <div align="center" class="text-grey-7 text-h6 text-weight-bold my-title">
      CONFIGURAR NOTIFICACIONES
    </div>
    <q-list
      bordered
      separator
      class="my-body text-grey-6 text-subtitle2 text-weight-bold"
    >
      <q-item clickable v-ripple>
        <q-item-section>Recibir notificaciones:</q-item-section>
        <q-item-section side>
          <q-toggle v-model="notify" color="n360" @input="change" />
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  components: {},
  data() {
    return {
      modal: false,
      notify: false,
    };
  },
  props: {
    value: [],
  },
  watch: {},
  computed: {
    ...mapState("generals", ["user", "company"]),
  },
  methods: {
    change() {
      try {
        this.$api.post("notificaciones/configuracion", {
          user: this.user,
          value: this.notify,
        });
      } catch (error) {
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    get() {
      try {
        this.$api
          .post("notificaciones/get-configuracion", {
            user: this.user,
          })
          .then((v) => {
            this.notify = v.data.notifications || false;
          });
      } catch (error) {
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
  },
  async mounted() {
    await this.get();
  },
};
</script>

<style lang="scss">
.text-n360 {
  color: #7a2ddb !important;
}
</style>
