<table style="border-collapse: collapse;">
    
  <% rows.forEach(function(row){ %>

    <tr>

      <% row.cells.forEach(function(col){ %>
      
        <td 
          style="border: 1px black solid" 
          align="<%= col.style.alignment ? col.style.alignment.horizontal : null %>" 
          valign="<%= col.style.alignment ? col.style.alignment.vertical : null %>" 
          colspan="<%= col.colspan %>" 
          rowspan="<%= col.rowspan %>" 
          height="<%= row.height / 1.5 %>" 
          width="<%= col.width %>" 
          style="<%= col.style && col.style.font ? 'font-family' + col.style.font.name : '' %> <%= col.style && col.style.font ? ';font-size' + col.style.font.size + 'px' : '' %> <%= col.style && col.style.font && col.style.font.bold ? ';font-weight' + col.style.font.bold : '' %> <%= col.style && col.style.fill && col.style.fill.bgColor && col.style.fill.bgColor.argb ? ';background-color' + col.style.fill.bgColor.argb : '' %> <%= col.style && col.style.font && col.style.font.color.argb ? ';background-color' + col.style.font.color.argb : '' %> <%= col.style && col.style.border && col.style.border.right ? ';border-right' + col.style.border.right : '' %> <%= col.style && col.style.border && col.style.border.left ? ';border-left' + col.style.border.left : '' %> <%= col.style && col.style.border && col.style.border.top ? ';border-top' + col.style.border.top : '' %> <%= col.style && col.style.border && col.style.border.bottom ? ';border-bottom' + col.style.border.bottom : '' %>"
          ">
          <div style="white-space: pre;"><%= col.value %></div>
        </td>

      <% }); %>

    </tr>

  <% }); %>

</table>

<div style="page-break-after: always;"></div>