<template>
  <q-page class="bg-white">
    <div class="full-width q-px-md">
      <q-select
        borderless
        dense
        v-model="type"
        label="Filtro"
        color="n360"
        :options="[
          { label: 'Anticipos', value: 'anticipos' },
          { label: 'Préstamos', value: 'prestamos' },
          { label: 'Permisos', value: 'permisos' },
          { label: 'Vacaciones', value: 'vacaciones' },
          { label: 'Todos', value: 'all' },
        ]"
        emit-value
        map-options
      />
    </div>
    <q-virtual-scroll :items="data_" class="my-body">
      <template v-slot="{ item, index }">
        <q-separator inset />
        <q-item :key="index" clickable>
          <q-item-section>
            <q-item-label
              >Empleado: {{ item.employee_label.split(" ")[0] }}
              {{ item.employee_label.split(" ")[2] }}
            </q-item-label>
            <q-item-label caption class="text-capitalize">
              Tipo: {{ item.type_solicitud }}
            </q-item-label>
          </q-item-section>
          <q-item-section side>
            <div class="row q-gutter-x-xs">
              <q-btn color="n360" icon="more_vert" dense flat round>
                <q-menu>
                  <q-list style="min-width: 100px">
                    <q-item clickable v-close-popup @click="more(item)">
                      <q-item-section>Ver más</q-item-section>
                    </q-item>
                    <q-separator />
                    <q-item
                      v-if="item.file"
                      clickable
                      v-close-popup
                      @click="downloadFile(item.file)"
                    >
                      <q-item-section>Comprobante</q-item-section>
                    </q-item>
                    <q-separator />
                    <q-item clickable v-close-popup @click="aprobar(item)">
                      <q-item-section>Aprobar</q-item-section>
                    </q-item>
                    <q-separator />
                    <q-item clickable v-close-popup @click="rechazar(item)">
                      <q-item-section>Rechazar</q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-btn>
            </div>
          </q-item-section>
        </q-item>
      </template>
    </q-virtual-scroll>

    <q-dialog v-model="dialog" maximized>
      <q-card>
        <q-card-actions align="right">
          <q-btn flat icon="close" color="n360" v-close-popup />
        </q-card-actions>
        <ver-mas v-model="more_info" />
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
import { openURL } from "quasar";
import VerMas from "./VerMas.vue";
export default {
  name: "IndexMobile",
  components: {
    VerMas,
  },
  data() {
    return {
      type: "all",
      data: {
        anticipos: [],
        permisos: [],
        prestamos: [],
        vacaiones: [],
      },
      data_: [],
      more_info: null,

      options: [],

      // DIALOGS
      dialog: false,

      tipos_vacaciones: [
        {
          label: "Normal",
          value: "norm",
        },
        {
          label: "Solo descontar días",
          value: "days",
        },
        {
          label: "Solo descontar pago",
          value: "pago",
        },
        {
          label: "Vacaciones Pagadas",
          value: "pagadas",
        },
        {
          label: "Anticipadas normal",
          value: "normal",
        },
        {
          label: "Anticipadas solo  pago",
          value: "pago",
        },
        {
          label: "Normal",
          value: "norm_adicional",
        },
        {
          label: "Pagados y Descontados",
          value: "pago_descuento_adicional",
        },
        {
          label: "Descontar Días",
          value: "days_adicional",
        },
        {
          label: "Descontar Pago",
          value: "pago_adicional",
        },
      ],
    };
  },
  watch: {
    type(v) {
      this.$q.loading.show();
      setTimeout(async () => {
        if (v == "prestamos") this.data_ = [...this.data.prestamos];
        if (v == "anticipos") this.data_ = [...this.data.anticipos];
        if (v == "permisos") this.data_ = [...this.data.permisos];
        if (v == "vacaciones") this.data_ = [...this.data.vacaciones];
        if (v == "all")
          this.data_ = [
            ...this.data.anticipos,
            ...this.data.permisos,
            ...this.data.prestamos,
            ...this.data.vacaciones,
          ];

        this.$q.loading.hide();
      }, 2000);
    },
  },
  computed: {
    ...mapState("generals", ["user", "company"]),

    tipos_permisos() {
      return [
        {
          label: "Permisos - Licencias Médicas y Otros",
          value: "permiso-medico",
        },
        {
          label: "Permiso de Paternidad",
          value: "permiso-paternidad",
        },
        {
          label: "Permiso de Maternidad",
          value: "permiso-maternidad",
        },
        {
          label: "Otros permisos",
          value: "permiso-otros",
        },
      ];
    },
  },
  methods: {
    solicitudes() {
      try {
        this.$q.loading.show();
        this.$api
          .post("aprobaciones/solicitudes", {
            company: this.user.data.__company__,
            url: this.company.apiUrl,
            user: this.user.data._id,
          })
          .then((v) => {
            this.$q.loading.hide();
            this.data = v.data;
            this.data_ = [
              ...this.data.anticipos,
              ...this.data.permisos,
              ...this.data.prestamos,
              ...this.data.vacaciones,
            ];
          });
      } catch (error) {
        this.$q.loading.hide();
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    aprobar(form) {
      this.$q
        .dialog({
          title: "Aprobar",
          message: "¿Está seguro de aprobar la solicitud?",
          cancel: true,
          persistent: true,
          color: "n360",
        })
        .onOk(async () => {
          await this.$api.post("aprobaciones/aprobar", {
            data: form,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            parent_company: this.user.data.parent_company,
            user: this.user,
          });
          await this.solicitudes();
          this.$q.notify({
            message: "Solicitud aprobada",
            color: "positive",
          });
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {});
    },
    rechazar(form) {
      this.$q
        .dialog({
          title: "Aprobar",
          message: "¿Está seguro de rechazar la solicitud?",
          cancel: true,
          persistent: true,
          color: "n360",
        })
        .onOk(async () => {
          await this.$api.post("aprobaciones/rechazar", {
            data: form,
            user: this.user,
          });
          await this.solicitudes();
          this.$q.notify({
            message: "Solicitud rechazada",
            color: "negative",
          });
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {});
    },
    downloadFile(file) {
      openURL(this.$env.storage + file);
    },
    more(item) {
      this.more_info = item;
      this.dialog = true;
    },
    // MOTIVOS DE PERMISOS
    async getMotivos() {
      const tipos_partos = [
        {
          label: "Normal",
          value: "Normal",
        },
        {
          label: "Cesárea",
          value: "Cesárea",
        },
        {
          label: "Prematuro",
          value: "Prematuro",
        },
        {
          label: "Adopción",
          value: "Adopción",
        },
      ];
      let medicos = [];
      let otros = [];
      await this.$api
        .post("permisos/motivos-permisos-medicos", {
          url: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          if (v.data.length) {
            medicos = v.data.map((val) => ({
              label: val.nombre,
              value: val._id,
            }));
          }
        });
      await this.$api
        .post("permisos/motivos-permisos-otros", {
          url: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          if (v.data.length) {
            otros = v.data.map((val) => ({
              label: val.nombre,
              value: val._id,
            }));
            otros.push({
              label: "Licencia sin sueldo",
              value: "lic_sin_sueldo",
            });
          }
        });

      this.options = [...tipos_partos, ...medicos, ...otros];
    },
  },
  async mounted() {
    await this.solicitudes();
    await this.getMotivos();
  },
};
</script>
