<template>
  <q-page class="column">
    <div class="column q-py-md q-pa-md q-mt-sm text-grey-8 my-title">
      <div class="text-h5 text-weight-bolder">Hola, {{ user.data.name }}</div>
      <div class="text-subtitle2 text-weight-bolder">
        {{ saludo }}
      </div>
    </div>
    <q-scroll-area
      :visible="false"
      class="column bg-white bordes q-pa-md window-height my-body"
    >
      <div class="row q-gutter-x-md col">
        <q-card class="col card-mobile q-mb-md">
          <div class="q-px-md q-my-sm">
            <div class="col text-center">
              <q-icon
                class="avatar"
                name="img:icons-home/departamento.png"
                size="60px"
              />
              <div class="text-subtitle2 text-weight-bolder q-my-sm">
                Departamento
              </div>
              <div class="text-subtitle2 text-weight-bolder box-mobile">
                {{ data.departamento.name }}
              </div>
            </div>
          </div>
        </q-card>
        <q-card class="col card-mobile q-mb-md">
          <div class="q-px-md q-my-sm">
            <div class="col text-center">
              <q-icon
                class="avatar"
                name="img:icons-home/jefe_dpt.png"
                size="60px"
              />
              <div class="text-subtitle2 text-weight-bolder">
                Jefe de Departamento
              </div>
              <div class="text-subtitle2 text-weight-bolder box-mobile">
                {{ data.departamento.jefe }}
              </div>
            </div>
          </div>
        </q-card>
      </div>
      <div class="row q-gutter-x-md col">
        <q-card class="col card-mobile q-mb-md">
          <div class="q-px-md q-my-sm">
            <div class="col text-center">
              <q-icon
                class="avatar"
                name="img:icons-home/contrato.png"
                size="60px"
              />
              <div class="text-subtitle2 text-weight-bolder q-my-sm">
                Días totales de contrato actual
              </div>
              <div class="text-subtitle2 text-weight-bolder box-mobile">
                {{ data.contrato_days }}
              </div>
            </div>
          </div>
        </q-card>
        <q-card class="col card-mobile q-mb-md">
          <div class="q-px-md q-my-sm">
            <div class="col text-center">
              <q-icon
                class="avatar"
                name="img:icons-home/prestamos.png"
                size="60px"
              />
              <div class="text-subtitle2 text-weight-bolder">
                Préstamos pendientes según contrato actual
              </div>
              <div class="text-subtitle2 text-weight-bolder box-mobile">
                {{ data.prestamos_pendientes }}
              </div>
            </div>
          </div>
        </q-card>
      </div>
      <div class="row q-gutter-x-md col">
        <q-card class="col card-mobile q-mb-md">
          <div class="q-px-md q-my-sm">
            <div class="col text-center">
              <q-icon
                class="avatar"
                name="img:icons-home/llamados_a.png"
                size="60px"
              />
              <div class="text-subtitle2 text-weight-bolder">
                LLamados de atención año en curso
              </div>
              <div class="text-subtitle2 text-weight-bolder box-mobile">
                {{ data.llamados_atencion }}
              </div>
            </div>
          </div>
        </q-card>
        <q-card class="col card-mobile q-mb-md">
          <div class="q-px-md q-my-sm">
            <div class="col text-center">
              <q-icon
                class="avatar"
                name="img:icons-home/faltas.png"
                size="60px"
              />
              <div class="text-subtitle2 text-weight-bolder q-my-sm">
                Días de falta año en curso
              </div>
              <div class="text-subtitle2 text-weight-bolder box-mobile">
                {{ data.dias_faltas }}
              </div>
            </div>
          </div>
        </q-card>
      </div>
      <div class="row q-gutter-x-md col">
        <q-card class="col card-mobile q-mb-md">
          <div class="q-px-md q-my-sm">
            <div class="col text-center">
              <q-icon
                class="avatar"
                name="img:icons-home/vacaciones.png"
                size="60px"
              />
              <div class="text-subtitle2 text-weight-bolder">
                Días de vacaiones disponibles
              </div>
              <div class="text-subtitle2 text-weight-bolder box-mobile">
                {{ data.dias_vacaciones_tot }}
              </div>
            </div>
            <q-tooltip
              class="bg-n360 text-white shadow-4"
              anchor="center right"
              self="center right"
            >
              <div>Días Vacaciones normales: {{ data.dias_vacaciones }}</div>
              <div>
                Días Vacaciones adicionales: {{ data.dias_vacaciones_a }}
              </div>
            </q-tooltip>
          </div>
        </q-card>
        <q-card class="col card-mobile q-mb-md">
          <div class="q-px-md q-my-sm">
            <div class="col text-center">
              <q-icon
                class="avatar"
                name="img:icons-home/permisos.png"
                size="60px"
              />
              <div class="text-subtitle2 text-weight-bolder">
                Días de permiso año en curso
              </div>
              <div class="text-subtitle2 text-weight-bolder box-mobile">
                {{ data.dias_permisos }}
              </div>
            </div>
          </div>
        </q-card>
      </div>
      <div class="col row justify-center">
        <q-card class="col-6 card-mobile q-mb-md">
          <div class="q-px-md q-my-sm">
            <div class="col text-center">
              <q-icon
                class="avatar"
                name="img:icons-home/neto.png"
                size="60px"
              />
              <div class="text-subtitle2 text-weight-bolder">
                Neto recibido del año en curso
              </div>
              <div class="text-subtitle2 text-weight-bolder box-mobile">
                ${{ data.neto }}
              </div>
            </div>
          </div>
        </q-card>
      </div>
    </q-scroll-area>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "HomeDesktop",
  data() {
    return {
      data: {
        total_days: 0,
        departamento: {},
      },
    };
  },
  computed: {
    ...mapState("generals", ["user", "company"]),
    saludo() {
      const fecha = new Date();
      const hora = fecha.getHours();
      let texto = "";

      if (hora >= 0 && hora < 5) texto = "Buenas Noches. Bienvenido !";

      if (hora >= 5 && hora < 12) texto = "Buenos Días. Bienvenido !";

      if (hora >= 12 && hora < 18) texto = "Buenas Tardes. Bienvenido !";

      if (hora >= 18 && hora < 24) texto = "Buenas Noches. Bienvenido !";
      return texto;
    },
  },
  methods: {
    getData() {
      this.$q.loading.show();
      this.$api
        .post("usuario/home", {
          user: this.user,
          apiUrl: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          this.data = v.data;
          this.$q.loading.hide();
        })
        .catch((e) => {
          this.$q.loading.hide();
        });
    },
  },
  async mounted() {
    await this.getData();
  },
};
</script>

<style lang="scss">
.card-mobile {
  border-radius: 15px;
  border: solid #7a2ddb 2px;
  background: rgba(122, 45, 219, 0.1);
  color: #747171;
}
.box-mobile {
  background: #7a2ddb;
  width: 100%;
  color: #ffffff;
  border-radius: 5px;
}
.bg-n360 {
  background: #7a2ddb !important;
}
.bordes {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.avatar {
  color: #7a2ddb !important;
}
</style>
