<template>
  <div class="q-pa-none my-title" :height="windowHeight">
    <div class="row">
      <div class="col-6" style="height: 100%">
        <img src="logo-horizontal.png" class="q-ml-sm q-mt-sm" width="250px" />
        <div>
          <div class="row justify-center">
            <div class="col-md-8 text-left">
              <h4 class="purple-n360 text-weight-bolder">Inicio de Sesión</h4>
            </div>
          </div>

          <div class="row justify-center q-ma-none">
            <div class="col-md-8 text-left">
              <span class="text-subtitle2 text-weight-medium">{{
                textoBienvenida
              }}</span>
            </div>
          </div>

          <br />

          <div class="row justify-center">
            <div class="col-md-3 text-left">
              <span class="text-weight-bold">Email</span>
            </div>
            <div class="col-md-5 text-right bg-grey-4 rounded-borders q-px-md">
              <q-input
                borderless
                color="grey-2"
                class="text-black"
                v-model="form.email"
                type="email"
                :autofocus="true"
                @keyup.enter="login(form.email, form.password)"
                ref="inputEmail"
              />
            </div>
          </div>

          <div class="row justify-center q-pt-lg">
            <div class="col-md-3 text-left">
              <span class="text-weight-bold">Contraseña</span>
            </div>
            <div class="col-md-5 text-right bg-grey-4 rounded-borders q-px-md">
              <q-input
                borderless
                v-model="form.password"
                :type="isPwd ? 'password' : 'text'"
                color="grey-2"
                class="text-black"
                @keyup.enter="login(form.email, form.password)"
                ref="inputPass"
              >
                <template v-slot:append>
                  <q-icon
                    :name="isPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd = !isPwd"
                  /> </template
              ></q-input>
            </div>
          </div>

          <div class="row justify-center q-pt-lg q-pb-md">
            <div class="col-md-8 text-right">
              <q-btn
                ref="btnRecoverPassword"
                flat
                no-caps
                color="indigo"
                label="¿Olvidaste tu contraseña?"
                @click="recoverPassword = true"
              />
            </div>
          </div>

          <div class="row justify-center">
            <div class="col-md-8 text-center">
              <q-btn
                ref="btnLogin"
                no-caps
                size="lg"
                class="btn-purple-n360"
                label="Iniciar"
                style="width: 100%"
                @click="login(form.email, form.password)"
              />
            </div>
          </div>

          <br />

          <div class="row justify-center">
            <div class="col-md-8">
              <hr style="color: red" />
            </div>
          </div>

          <div class="row justify-center">
            <div class="col-md-8 text-center">
              <span>¿No tienes una cuenta?</span>
              <q-btn
                flat
                no-caps
                color="deep-purple-14"
                label="Registrate Aquí"
                @click="signup = true"
              />
            </div>
          </div>

          <div class="row justify-center q-pt-xl">
            <div class="col-6">
              <div class="col-md-8 text-center text-weight-bold">Social</div>
              <div class="col-md-8 text-center">
                <a href="https://instagram.com/nomina360" target="”_blank”">
                  <img src="social/ig.png" class="q-ma-md" width="24px" />
                </a>
                <a href="https://facebook.com/nomina360" target="”_blank”">
                  <img src="social/fb.png" class="q-ma-md" width="24px" />
                </a>
                <a
                  href="https://www.linkedin.com/company/11380348"
                  target="”_blank”"
                >
                  <img src="social/linkedin.png" class="q-ma-md" width="24px" />
                </a>
              </div>
            </div>
            <div class="col-6">
              <div class="col-md-8 text-center text-weight-bold">
                ¿Necesitas Ayuda?
              </div>
              <div class="col-md-8 text-center q-pa-sm">
                <a
                  class="text-indigo text-weight-bold"
                  href="https://nomina360.freshdesk.com/support/solutions"
                  target="_blank"
                  style="text-decoration: none"
                >
                  Manual de Usuario Online
                </a>
              </div>

              <div class="col-md-8 text-center">
                <a
                  class="text-indigo text-weight-bold"
                  href="https://nomina360.freshdesk.com/support/home"
                  target="_blank"
                  style="text-decoration: none"
                >
                  Portal de Soporte
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 bg-n360 q-pa-none q-ma-none" :height="windowHeight">
        <div class="q-pa-none" style="">
          <q-carousel
            v-model="slide"
            color="white"
            arrows
            infinite
            autoplay
            :height="windowHeight"
            class="text-white q-pa-none q-ma-none"
          >
            <q-carousel-slide
              name="1"
              class="column no-wrap flex-center"
              img-src="/carousel/1.png"
            />
            <q-carousel-slide
              name="2"
              class="column no-wrap flex-center"
              img-src="/carousel/2.png"
            />
            <q-carousel-slide
              name="3"
              class="column no-wrap flex-center"
              img-src="/carousel/3.png"
            />
          </q-carousel>
        </div>
      </div>
    </div>

    <q-dialog v-model="recoverPassword" minimized>
      <q-card>
        <RecuperarPassword @close="recoverPassword = false" />
      </q-card>
    </q-dialog>
    <q-dialog v-model="signup" minimized persistent>
      <q-card>
        <Registro @close="signup = false" />
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapMutations, mapActions } from "vuex";
import RecuperarPassword from "./recuperar-password";
import Registro from "./registro";
export default {
  components: {
    RecuperarPassword,
    Registro,
  },
  name: "LoginDesktop",
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
      windowHeight: "",
      textoBienvenida:
        "Bienvenido al sistema de Nómina360, tu mejor aliado para desarrollar tu talento humano!",
      recoverPassword: false,
      signup: false,
      slide: "1",
      isPwd: true,
    };
  },
  methods: {
    ...mapMutations("generals", ["saveUser"]),
    ...mapActions("generals", [
      "infoMenu",
      "loadConfiguracion",
      "loadCompanies",
    ]),
    callSession(email, password) {
      return new Promise((resolve, reject) => {
        this.$api
          .post("usuario/login", {
            email: email,
            password: password,
          })
          .then(async (res) => {
            resolve(res.data);
          })
          .catch((error) => {
            reject(error);
          });
      });
    },
    async login(email, password) {
      try {
        const response = await this.callSession(email, password);

        const { token, empresa, rol, usuario, route, isUsuarioAprobadorDpto } =
          response;

        if (!token || !empresa || !rol || !usuario || !route)
          throw "Existe un error con el usuario! Por favor contacte a soporte";

        this.$q.localStorage.set("token", token);
        this.$q.localStorage.set("selected", empresa);
        this.$q.localStorage.set("user", usuario);
        this.$q.localStorage.set("aprobador_dpto", isUsuarioAprobadorDpto);
        this.$q.localStorage.set("rol_user", rol);
        this.$q.localStorage.set("my_route", route.main);

        await this.saveUser(usuario);
        await this.loadConfiguracion(empresa);
        await this.infoMenu(rol);
        this.$router.push(route.main);
      } catch (error) {
        return this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    async keepLogin() {
      if (this.$q.localStorage.has("user")) {
        await this.saveUser(this.$q.localStorage.getItem("user"));
        await this.loadConfiguracion(this.$q.localStorage.getItem("selected"));
        await this.infoMenu(this.$q.localStorage.getItem("rol_user"));

        this.$router.push(this.$q.localStorage.getItem("my_route"));
      } else {
        return false;
      }
    },
  },
  created() {
    this.windowHeight = window.innerHeight + "px";
  },
  async mounted() {
    await this.keepLogin();
  },
};
</script>

<style scoped>
.purple-n360 {
  color: #7a2ddb;
}
.bg-purple-n360 {
  background: #7a2ddb;
}
.btn-purple-n360 {
  background: #7a2ddb;
  color: white;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em;
  padding: 1em;
}
</style>
