<template>
  <div>
    <div class="my-title">
      <div class="q-ma-lg" align="center">
        <div class="text-weight-bold text-h6 q-mb-md text-left">
          Registro Inicial
        </div>

        <span class="q-pa-lg text-weight-medium"
          >Para comenzar con el proceso de registro por favor ingresa los
          siguientes datos.</span
        >

        <div class="column items-center q-pa-lg">
          <div style="width: 250px">
            <q-input
              label="Correo electrónico"
              inverted
              color="grey-6"
              class="text-black"
              v-model="form.email"
            />
          </div>
          <div style="width: 250px">
            <q-input
              label="Contraseña"
              inverted
              color="grey-6"
              class="text-black"
              :type="isPwd ? 'password' : 'text'"
              v-model="form.password"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
          </div>
          <div style="width: 250px">
            <q-input
              label="Cédula de identidad"
              inverted
              color="grey-6"
              class="text-black"
              v-model="form.identity_card"
            />
          </div>
        </div>

        <div class="row justify-center q-gutter-x-md q-pa-sm">
          <div>
            <q-btn
              no-caps
              size="md"
              class="btn-purple-n360"
              label="Continuar"
              @click="registrarUsuario()"
              :loading="loadingRegistro"
            />
          </div>
          <div>
            <q-btn
              no-caps
              size="md"
              class="btn-purple-n360"
              label="Cancelar"
              @click="close"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: "",
      },
      loadingRegistro: false,
      isPwd: true,
    };
  },
  methods: {
    async registrarUsuario() {
      if (!this.form.email || !this.form.password || !this.form.identity_card) {
        return this.$q.notify({
          message: "Todos los campos son necesarios",
          type: "negative",
        });
      }
      let validate_password_security = await this.validatePassword(
        this.form.password
      );
      if (!validate_password_security) {
        return this.$q.notify({
          message:
            "La contraseña ingresada no es segura. Por favor asegurese de que la contraseña contenga al menos una mayúscula, una minúscula, un número y un simbolo especial",
          type: "negative",
        });
      }

      this.loadingRegistro = true;
      this.$api
        .post("usuario/signup", {
          email: this.form.email,
          password: this.form.password,
          identity_card: this.form.identity_card,
        })
        .then((v) => {
          this.$emit("close");
          this.loadingRegistro = false;
          this.form = {};
          this.$q.notify({
            message: "Usuario creado con exito !",
            type: "positive",
          });
        })
        .catch((error) => {
          this.loadingRegistro = false;
          this.$q.notify({
            message: error,
            type: "negative",
          });
        });
    },
    validatePassword(password) {
      let level = 0;
      level += password.length > 8 ? 1 : 0;
      level += /[!@#$%^&*?_~]/.test(password) ? 1 : 0;
      level += /[a-z]/.test(password) ? 1 : 0;
      level += /[A-Z]/.test(password) ? 1 : 0;
      level += /[0-9]/.test(password) ? 1 : 0;
      return level >= 5;
    },
    close() {
      this.$emit("close");
    },
  },
};
</script>

<style scoped>
.purple-n360 {
  color: #7a2ddb;
}
.bg-purple-n360 {
  background: #7a2ddb;
}
.btn-purple-n360 {
  background: #7a2ddb;
  color: white;
}
.vertical-center {
  margin-top: 15%;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em;
  padding: 1em;
}
</style>
