<template>
  <q-page class="q-pa-md">
    <div class="my-title q-mb-lg">
      <q-btn label="Nueva Empresa" outline color="n360" to="/panel/crear" />
    </div>
    <div class="column q-gutter-y-md">
      <q-card class="my-card" v-for="(item, index) in data" :key="index">
        <q-card-section class="bg-n360"> </q-card-section>

        <q-separator />

        <q-card-section class="row q-gutter-x-md my-title">
          <q-avatar icon="business" color="n360" text-color="white" />
          <div>
            <div class="text-subtitle1">{{ item.name }}</div>
            <div class="text-grey-6">Usuarios: {{ item.users }}</div>
          </div>
        </q-card-section>

        <q-separator />

        <q-card-section class="my-title" align="center">
          <q-btn-group push>
            <q-btn
              color="n360"
              push
              @click="updateStatus(item, item.active ? false : true)"
              :icon="item.active ? 'highlight_off' : 'check_circle'"
            />
            <q-btn
              color="n360"
              push
              :to="'/panel/editar/' + item._id"
              icon="edit"
            />
            <q-btn
              color="n360"
              push
              @click="eliminar(item._id)"
              icon="delete"
            />
          </q-btn-group>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "ListadoMobile",
  components: {},
  data() {
    return {
      data: [],
    };
  },
  watch: {},
  computed: {
    ...mapState("generals", ["user"]),
  },
  methods: {
    getList() {
      this.$q.loading.show();
      try {
        this.$api.get("companies/list").then((v) => {
          this.data = v.data;
          this.$q.loading.hide();
        });
      } catch (error) {
        this.$q.loading.hide();
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    eliminar(id) {
      try {
        this.$q
          .dialog({
            title: "Eliminar",
            message: "¿Está seguro de eliminar la empresa?",
            cancel: true,
            persistent: true,
            color: "n360",
          })
          .onOk(async () => {
            await this.$api.post("companies/delete", { id }).then(async (v) => {
              this.$q.notify({
                message: "Empresa eliminada",
                color: "positive",
              });
              await this.getList();
            });
          })
          .onCancel(() => {})
          .onDismiss(() => {});
      } catch (error) {
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    updateStatus(params, status) {
      try {
        this.$q
          .dialog({
            title: status ? "Habilitar" : "Inhabilitar",
            message: "¿Está seguro de cambiar el estatus de la empresa?",
            cancel: true,
            persistent: true,
            color: "n360",
          })
          .onOk(async () => {
            await this.$api
              .post("companies/update-status", {
                active: params.active ? false : true,
                _id: params._id,
              })
              .then(async (v) => {
                this.$q.notify({
                  message:
                    "Empresa " +
                    (params.active ? "Inhabilitada" : "Habilitada"),
                  color: "positive",
                });
                await this.getList();
              });
          })
          .onCancel(() => {})
          .onDismiss(() => {});
      } catch (error) {
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
  },
  async mounted() {
    await this.getList();
  },
};
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 350px
</style>
