<template>
  <q-page class="bg-white">
    <div class="full-width q-px-md">
      <q-select
        borderless
        dense
        v-model="type"
        label="Filtro"
        color="n360"
        :options="[
          { label: 'Injustificada', value: 'injustificada' },
          { label: 'Justificada', value: 'justificada' },
          { label: 'Todos', value: 'all' },
        ]"
        emit-value
        map-options
      />
    </div>
    <q-virtual-scroll :items="rows" class="my-body">
      <template v-slot="{ item, index }">
        <q-separator inset />
        <q-item :key="index" clickable>
          <q-item-section v-if="!item.search">
            <q-item-label
              >TIPO:
              {{
                tipo_faltas.find((v) => v.value == item.type)
                  ? tipo_faltas.find((v) => v.value == item.type).label
                  : "Sin tipo falta"
              }}
            </q-item-label>
            <q-item-label caption class="text-capitalize">
              MOTÍVO:
              {{
                motivos.find((v) => v.value == item.motivo_falta_justificada)
                  ? motivos.find(
                      (v) => v.value == item.motivo_falta_justificada
                    ).label
                  : "N/A"
              }}
            </q-item-label>
          </q-item-section>
          <q-item-section side>
            <div>
              <q-btn color="n360" icon="more_vert" dense flat round>
                <q-menu>
                  <q-list style="min-width: 100px">
                    <q-item
                      v-if="item.file"
                      clickable
                      v-close-popup
                      @click="downloadFile(item.file)"
                    >
                      <q-item-section>Comprobante</q-item-section>
                    </q-item>
                    <q-separator />
                    <q-item clickable v-close-popup @click="verMas(item)">
                      <q-item-section>Ver Más</q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-btn>
            </div>
          </q-item-section>
        </q-item>
      </template>
    </q-virtual-scroll>

    <q-dialog v-model="dialog" maximized>
      <q-card>
        <q-card-actions align="right">
          <q-btn flat icon="close" color="n360" v-close-popup />
        </q-card-actions>
        <ver-mas v-model="more_info" />
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
import VerMas from "./VerMas.vue";
import { openURL } from "quasar";
export default {
  name: "ListadoDesktop",
  components: {
    VerMas,
  },
  data() {
    return {
      type: "all",
      filter: "",
      dialog: false,
      loading: false,
      rows: [],
      more_info: {},
      tipo_faltas: [
        { label: "Justificada", value: "justificada" },
        { label: "Injustificada", value: "injustificada" },
      ],
      tipo_term: [
        {
          label: "Horas",
          value: "h",
        },
        {
          label: "Días",
          value: "d",
        },
      ],
      motivos_faltas: [],
    };
  },
  watch: {
    type() {
      this.$q.loading.show();
      setTimeout(async () => {
        await this.listado();
        this.$q.loading.hide();
      }, 2000);
    },
  },
  computed: {
    ...mapState("generals", ["user", "company"]),
    motivos() {
      return this.motivos_faltas
        .filter((motivo) => motivo.name !== undefined)
        .map((val) => ({
          label: val.name,
          value: val._id,
        }));
    },
  },
  methods: {
    listado() {
      try {
        this.$api
          .post("faltas/listado", {
            user: this.user,
            url: this.company.apiUrl,
            type: this.type,
          })
          .then((v) => {
            this.rows = v.data;
          });
      } catch (error) {
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    verMas(row) {
      this.more_info = row;
      this.dialog = true;
    },
    downloadFile(file) {
      const route = this.company.apiUrl + "/";
      openURL(route + file);
    },
  },
  async mounted() {
    await this.listado();
    this.$api
      .post("faltas/motivos-faltas", {
        user: this.user,
        url: this.company.apiUrl,
      })
      .then((v) => {
        this.motivos_faltas = v.data;
      });
  },
};
</script>
