<template>
  <div>
    <div class="text-grey-7 text-h6 text-weight-bold text-center">
      Historico
    </div>
    <div class="q-pa-md text-weight-bold text-subtitle2">
      <q-list
        bordered
        separator
        class="rounded-borders"
        v-for="(obj, index) in historico"
        :key="'A' + index"
      >
        <q-expansion-item
          expand-separator
          icon="visibility"
          :label="$moment(obj.created_at).format('YYYY-MM-DD')"
          :caption="obj.estatus_label"
        >
          <q-card>
            <q-card-section>
              <q-list highlight separator class="text-weight-bold">
                <q-item>
                  <q-item-section>Fecha de solicitud:</q-item-section>
                  <q-item-section side>
                    {{ $moment(obj.created_at).format("YYYY-MM-DD") }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>Fecha de inicio:</q-item-section>
                  <q-item-section side>
                    {{ obj.inicio }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>Fecha de finalización:</q-item-section>
                  <q-item-section side>
                    {{ obj.fin }}
                  </q-item-section>
                </q-item>

                <q-item>
                  <q-item-section>Solicitud:</q-item-section>
                  <q-item-section side>
                    {{
                      tipos_permisos.find((v) => v.value === obj.solicitud)
                        .label || "Sin Solicitud"
                    }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>Mótivo:</q-item-section>
                  <q-item-section side>
                    {{
                      !options.find((v) => v.value === obj.motivo)
                        ? "Sin Motivo"
                        : options.find((v) => v.value === obj.motivo).label
                    }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>Días:</q-item-section>
                  <q-item-section side>
                    {{ obj.dias }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>Estatus:</q-item-section>
                  <q-item-section side>
                    {{ obj.estatus_label }}
                  </q-item-section>
                </q-item>
              </q-list>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </q-list>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import { mapState } from "vuex";
export default {
  name: "Historico",
  data() {
    return {
      options: [],
    };
  },
  props: {
    value: [],
  },
  watch: {},
  computed: {
    ...mapState("generals", ["user", "company"]),
    historico: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit("input", val);
      },
    },
    tipos_permisos() {
      return [
        {
          label: "Permisos - Licencias Médicas y Otros",
          value: "permiso-medico",
        },
        {
          label: "Permiso de Paternidad",
          value: "permiso-paternidad",
        },
        {
          label: "Permiso de Maternidad",
          value: "permiso-maternidad",
        },
        {
          label: "Otros permisos",
          value: "permiso-otros",
        },
      ];
    },
  },
  methods: {
    async getMotivos() {
      const tipos_partos = [
        {
          label: "Normal",
          value: "Normal",
        },
        {
          label: "Cesárea",
          value: "Cesárea",
        },
        {
          label: "Prematuro",
          value: "Prematuro",
        },
        {
          label: "Adopción",
          value: "Adopción",
        },
      ];
      let medicos = [];
      let otros = [];
      await this.$api
        .post("permisos/motivos-permisos-medicos", {
          url: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          if (v.data.length) {
            medicos = v.data.map((val) => ({
              label: val.nombre,
              value: val._id,
            }));
          }
        });
      await this.$api
        .post("permisos/motivos-permisos-otros", {
          url: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          if (v.data.length) {
            otros = v.data.map((val) => ({
              label: val.nombre,
              value: val._id,
            }));
            otros.push({
              label: "Licencia sin sueldo",
              value: "lic_sin_sueldo",
            });
          }
        });

      this.options = [...tipos_partos, ...medicos, ...otros];
    },
  },
  async mounted() {
    await this.getMotivos();
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
