<template>
  <q-page class="row q-px-xl q-py-md q-gutter-x-xl">
    <div class="column col q-gutter-y-lg q-px-md my-body">
      <q-card class="col card-desk">
        <div class="absolute-center text-center">
          <q-icon class="avatar" name="img:icons-home/departamento.png" />
          <div class="col text-center q-mt-md">
            <div class="text-subtitle2 text-weight-bolder">Departamento</div>
            <div
              class="text-subtitle2 text-weight-bold q-mt-xs q-py-xs box-desk"
            >
              {{ data.departamento.name }}
            </div>
          </div>
        </div>
      </q-card>
      <q-card class="col card-desk">
        <div class="absolute-center text-center">
          <q-icon class="avatar" name="img:icons-home/contrato.png" />
          <div class="col text-center q-mt-sm">
            <div class="text-subtitle2 text-weight-bolder">
              Días totales de <br />
              contrato actual
            </div>
            <div
              class="text-subtitle2 text-weight-bold q-mt-xs q-py-xs box-desk"
            >
              {{ data.contrato_days }}
            </div>
          </div>
        </div>
      </q-card>
      <q-card class="col card-desk">
        <div class="absolute-center text-center">
          <q-icon class="avatar" name="img:icons-home/llamados_a.png" />
          <div class="col text-center q-mt-sm">
            <div class="text-subtitle2 text-weight-bolder">
              LLamados A. <br />
              Año en curso
            </div>
            <div
              class="text-subtitle2 text-weight-bold q-mt-xs q-py-xs box-desk"
            >
              {{ data.llamados_atencion }}
            </div>
          </div>
        </div>
      </q-card>
    </div>
    <div class="column col q-gutter-y-lg q-px-md">
      <q-card class="col card-desk">
        <div class="absolute-center text-center">
          <q-icon class="avatar" name="img:icons-home/jefe_dpt.png" />
          <div class="col text-center q-mt-sm">
            <div class="text-subtitle2 text-weight-bolder">Jefe de Departamento</div>
            <div
              class="text-subtitle2 text-weight-bold q-mt-xs q-py-xs box-desk"
            >
              {{ data.departamento.jefe }}
            </div>
          </div>
        </div>
      </q-card>
      <q-card class="col card-desk">
        <div class="absolute-center text-center">
          <q-icon class="avatar" name="img:icons-home/prestamos.png" />
          <div class="col text-center q-mt-sm">
            <div class="text-subtitle2 text-weight-bolder">
              Préstamos P. <br />
              Contrato actual
            </div>
            <div
              class="text-subtitle2 text-weight-bold q-mt-xs q-py-xs box-desk"
            >
              {{ data.prestamos_pendientes }}
            </div>
          </div>
        </div>
      </q-card>
      <q-card class="col card-desk">
        <div class="absolute-center text-center">
          <q-icon class="avatar" name="img:icons-home/faltas.png" />
          <div class="col text-center q-mt-sm">
            <div class="text-subtitle2 text-weight-bolder">
              Días de falta <br />
              año en curso
            </div>
            <div
              class="text-subtitle2 text-weight-bold q-mt-xs q-py-xs box-desk"
            >
              {{ data.dias_faltas }}
            </div>
          </div>
        </div>
      </q-card>
    </div>
    <div class="column col q-gutter-y-lg q-px-md">
      <q-card class="col card-desk">
        <div class="absolute-center text-center">
          <q-icon class="avatar" name="img:icons-home/neto.png" />
          <div class="col text-center q-mt-sm">
            <div class="text-subtitle2 text-weight-bolder">
              Neto recibido <br />
              año en curso
            </div>
            <div
              class="text-subtitle2 text-weight-bold q-mt-xs q-py-xs box-desk"
            >
              ${{ data.neto }}
            </div>
          </div>
        </div>
      </q-card>
      <q-card class="col card-desk">
        <div class="absolute-center text-center">
          <q-icon class="avatar" name="img:icons-home/vacaciones.png" />
          <div class="col text-center q-mt-sm">
            <div class="text-subtitle2 text-weight-bolder">
              Días de vacaciones <br />
              disponibles
            </div>
            <div
              class="text-subtitle2 text-weight-bold q-mt-xs q-py-xs box-desk"
            >
              {{ data.dias_vacaciones_tot }}

              <q-tooltip class="bg-n360 text-white shadow-4" :offset="[10, 10]">
                <div>Días Vacaciones normales: {{ data.dias_vacaciones }}</div>
                <div>
                  Días Vacaciones adicionales: {{ data.dias_vacaciones_a }}
                </div>
              </q-tooltip>
            </div>
          </div>
        </div>
      </q-card>
      <q-card class="col card-desk">
        <div class="absolute-center text-center">
          <q-icon class="avatar" name="img:icons-home/permisos.png" />
          <div class="col text-center q-mt-sm">
            <div class="text-subtitle2 text-weight-bolder">
              Días de permiso <br />
              año en curso
            </div>
            <div
              class="text-subtitle2 text-weight-bold q-mt-xs q-py-xs box-desk"
            >
              {{ data.dias_permisos }}
            </div>
          </div>
        </div>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "HomeDesktop",
  data() {
    return {
      data: {
        total_days: 0,
        departamento: {},
      },
    };
  },
  computed: {
    ...mapState("generals", ["user", "company"]),
  },
  methods: {
    getData() {
      this.$q.loading.show();
      this.$api
        .post("usuario/home", {
          user: this.user,
          apiUrl: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          this.data = v.data;
          this.$q.loading.hide();
        })
        .catch((e) => {
          this.$q.loading.hide();
        });
    },
  },
  async mounted() {
    await this.getData();
  },
};
</script>

<style lang="scss">
.card-desk {
  border-radius: 15px;
  border: solid #7a2ddb 2px;
  background: rgba(122, 45, 219, 0.1);
  color: #747171;
}
.box-desk {
  background: #7a2ddb;
  width: 230px;
  color: #ffffff;
  border-radius: 5px;
}
.bg-n360 {
  background: #7a2ddb !important;
}
.avatar {
  color: #7a2ddb !important;
  font-size: 60px;
}

/* RESPONSIVE */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .box-desk {
    width: 130px;
  }
  .avatar {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .box-desk {
    width: 130px;
  }
  .avatar {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 2560px) {
  .box-desk {
    width: 230px;
  }
  .avatar {
    font-size: 60px;
  }
}
@media only screen and (min-width: 2560px) and (max-width: 3000px) {
  .box-desk {
    width: 330px;
  }
  .avatar {
    font-size: 60px;
  }
}
</style>
