<template>
  <q-layout view="lHh Lpr lFf" class="bg-grey-2">
    <q-header class="bg-white row items-center justify-between">
      <div
        class="text-weight-bold text-grey text-h6 q-ml-xl q-my-lg row q-gutter-x-sm items-center"
      >
        <q-avatar
          :icon="$route.meta.icon"
          text-color="white"
          rounded
          size="lg"
          class="bg-purple-n360"
        />
        <div class="text-grey text-weight-bold my-title">
          {{ $route.meta.name }}
        </div>
      </div>

      <div class="q-mr-xl">
        <img src="/logo-horizontal.png" width="200px" />
      </div>
    </q-header>
    <q-drawer :mini="MiniDrawer" v-model="OpenDrawer" show-if-above>
      <q-scroll-area
        style="
          height: calc(100% - 150px);
          margin-top: 150px;
          border-right: 1px solid #ddd;
        "
      >
        <q-list>
          <Menu />
        </q-list>
      </q-scroll-area>

      <div class="absolute-top btn-purple-n360" style="height: 150px">
        <div class="float-right">
          <q-btn flat icon="notifications">
            <q-badge color="red" floating class="q-mt-xs" v-if="Actives">{{
              Actives
            }}</q-badge>
            <q-menu>
              <q-item
                style="width: 350px"
                clickable
                class="bg-grey-4 q-ma-md my-title text-grey-6"
              >
                <q-item-section>Notificaciones</q-item-section>
                <div class="q-mr-sm">
                  <q-btn
                    flat
                    round
                    icon="settings"
                    color="n360"
                    @click="config_notify = true"
                  />
                </div>
              </q-item>
              <q-item
                v-if="!notifications.length"
                class="text-center text-grey-6 text-h6 q-ma-md"
              >
                <q-item-section>
                  <q-item-label>Sin notificaciones</q-item-label>
                </q-item-section>
              </q-item>
              <notify-menu v-model="notifications" />
            </q-menu>
          </q-btn>
          <q-btn flat icon="menu" @click="MiniDrawer = !MiniDrawer" />
        </div>

        <div class="text-center q-mt-md" v-if="!MiniDrawer">
          <q-avatar size="80px" class="q-mb-xs q-ml-xl">
            <img :src="MyPhoto" style="border: 3px solid #ffffff" />
            <q-badge floating color="positive" rounded />
          </q-avatar>
          <div class="text-weight-bold q-mr-xl">
            {{ user.data.name }} {{ user.data.last_name }}
          </div>
          <div class="q-mr-xl">
            {{ user.data.email_personal }}
          </div>
        </div>
      </div>
    </q-drawer>
    <q-dialog v-model="config_notify">
      <q-card style="width: 500px; max-width: 80vw; max-height: 50vw">
        <q-card-section>
          <configuracion-notificaciones />
        </q-card-section>
        <q-card-actions align="center">
          <q-btn label="Listo" color="n360" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import Menu from "./Menu.vue";
import NotifyMenu from "./NotifyMenu.vue";
import ConfiguracionNotificaciones from "components/ConfiguracionNotificaciones";
import { mapState } from "vuex";

export default {
  name: "LayoutDesktop",
  components: {
    Menu,
    NotifyMenu,
    ConfiguracionNotificaciones,
  },
  data() {
    return {
      OpenDrawer: true,
      MiniDrawer: false,
      config_notify: false,
    };
  },
  computed: {
    ...mapState("generals", ["user", "company", "notifications"]),
    MyPhoto() {
      let photo = "";
      if (this.user.data.photo) {
        photo = this.company.apiUrl + "/" + this.user.data.photo;
      } else {
        if (this.user.data.hasOwnProperty("sex")) {
          if (this.user.data.sex == "m") photo = "/man.png";
          else photo = "/woman.png";
        }
      }
      return photo;
    },
    Actives() {
      const filter = this.notifications.filter((v) => !v.open);
      if (filter.length) return filter.length;
      else return false;
    },
  },
  methods: {},
  async mounted() {
    this.$socket.notify();
  },
};
</script>

<style scoped>
.bg-purple-n360 {
  background: #7a2ddb;
}
.btn-purple-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
