<template>
  <div>
    <q-item
      class="text-grey text-weight-bold"
      clickable
      to="/home"
      active-class="text-n360 bg-grey-2"
    >
      <q-item-section avatar>
        <q-icon name="dashboard" />
      </q-item-section>

      <q-item-section>
        <q-item-label>Início</q-item-label>
      </q-item-section>
    </q-item>
    <q-item
      class="text-grey text-weight-bold"
      clickable
      to="/pendientes-empleados"
      active-class="text-n360 bg-grey-2"
      v-if="isApro"
    >
      <q-item-section avatar>
        <q-icon name="done" />
      </q-item-section>

      <q-item-section>
        <q-item-label>Aprobaciones</q-item-label>
      </q-item-section>
    </q-item>
    <q-item
      class="text-grey text-weight-bold"
      clickable
      active-class="text-n360 bg-grey-2"
      v-if="misPermisos.some((v) => v === '10.2')"
      to="/mi-departamento/lista"
    >
      <q-item-section avatar>
        <q-icon name="assignment" />
      </q-item-section>

      <q-item-section>
        <q-item-label>Mi Departamento</q-item-label>
      </q-item-section>
    </q-item>
    <q-item
      class="text-grey text-weight-bold"
      clickable
      active-class="text-n360 bg-grey-2"
      v-if="misPermisos.some((v) => v === '10.3')"
      to="/mis-roles/lista"
    >
      <q-item-section avatar>
        <q-icon name="fact_check" />
      </q-item-section>

      <q-item-section>
        <q-item-label>Mis Roles</q-item-label>
      </q-item-section>
    </q-item>
    <q-expansion-item
      class="text-grey text-weight-bold"
      expand-separator
      icon="redeem"
      label="Anticipos"
      v-if="misPermisos.some((v) => v === '10.4')"
      :class="$route.meta.permission == '10.4' ? 'text-n360 bg-grey-2' : ''"
    >
      <q-item
        class="text-grey text-weight-bold"
        clickable
        active-class="text-n360 bg-grey-2"
        to="/mis-anticipos/lista"
      >
        <q-item-section avatar>
          <q-icon name="visibility" />
        </q-item-section>
        <q-item-section>
          <q-item-label>Ver Mis Anticipos</q-item-label>
        </q-item-section>
      </q-item>
      <q-item
        class="text-grey text-weight-bold"
        clickable
        active-class="text-n360 bg-grey-2"
        to="/mis-anticipos/solicitar"
      >
        <q-item-section avatar>
          <q-icon name="request_quote" />
        </q-item-section>
        <q-item-section>
          <q-item-label>Solicitar un Anticipo</q-item-label>
        </q-item-section>
      </q-item>
    </q-expansion-item>
    <q-expansion-item
      class="text-grey text-weight-bold"
      expand-separator
      icon="credit_score"
      label="Préstamos"
      v-if="misPermisos.some((v) => v === '10.5')"
      :class="$route.meta.permission == '10.5' ? 'text-n360 bg-grey-2' : ''"
    >
      <q-item
        class="text-grey text-weight-bold"
        clickable
        active-class="text-n360 bg-grey-2"
        to="/mis-prestamos/lista"
      >
        <q-item-section avatar>
          <q-icon name="visibility" />
        </q-item-section>
        <q-item-section>
          <q-item-label>Ver Mis Préstamos</q-item-label>
        </q-item-section>
      </q-item>
      <q-item
        class="text-grey text-weight-bold"
        clickable
        active-class="text-n360 bg-grey-2"
        to="/mis-prestamos/solicitar"
      >
        <q-item-section avatar>
          <q-icon name="request_quote" />
        </q-item-section>
        <q-item-section>
          <q-item-label>Solicitar un Préstamos</q-item-label>
        </q-item-section>
      </q-item>
    </q-expansion-item>
    <q-expansion-item
      class="text-grey text-weight-bold"
      expand-separator
      icon="flight"
      label="Vacaciones"
      v-if="
        misPermisos.some(
          (v) => v === '10.6' || v === '10.6.1' || v === '10.6.2'
        )
      "
      :class="$route.meta.permission == '10.6' ? 'text-n360 bg-grey-2' : ''"
    >
      <q-item
        class="text-grey text-weight-bold"
        clickable
        active-class="text-n360 bg-grey-2"
        to="/mis-vacaciones/lista"
      >
        <q-item-section avatar>
          <q-icon name="visibility" />
        </q-item-section>
        <q-item-section>
          <q-item-label>Ver Mis Vacaciones</q-item-label>
        </q-item-section>
      </q-item>
      <q-item
        class="text-grey text-weight-bold"
        clickable
        active-class="text-n360 bg-grey-2"
        to="/mis-vacaciones/solicitar"
      >
        <q-item-section avatar>
          <q-icon name="request_quote" />
        </q-item-section>
        <q-item-section>
          <q-item-label>Solicitar Vacaciones</q-item-label>
        </q-item-section>
      </q-item>
    </q-expansion-item>
    <q-expansion-item
      class="text-grey text-weight-bold"
      expand-separator
      icon="markunread_mailbox"
      label="Permisos"
      v-if="misPermisos.some((v) => v === '10.7')"
      :class="$route.meta.permission == '10.7' ? 'text-n360 bg-grey-2' : ''"
    >
      <q-item
        class="text-grey text-weight-bold"
        clickable
        active-class="text-n360 bg-grey-2"
        to="/mis-permisos/lista"
      >
        <q-item-section avatar>
          <q-icon name="visibility" />
        </q-item-section>
        <q-item-section>
          <q-item-label>Ver Mis Permiso</q-item-label>
        </q-item-section>
      </q-item>
      <q-item
        class="text-grey text-weight-bold"
        clickable
        active-class="text-n360 bg-grey-2"
        to="/mis-permisos/solicitar"
      >
        <q-item-section avatar>
          <q-icon name="task" />
        </q-item-section>
        <q-item-section>
          <q-item-label>Solicitar un Permiso</q-item-label>
        </q-item-section>
      </q-item>
    </q-expansion-item>
    <q-item
      class="text-grey text-weight-bold"
      clickable
      active-class="text-n360 bg-grey-2"
      v-if="misPermisos.some((v) => v === '10.8')"
      to="/mis-faltas/lista"
    >
      <q-item-section avatar>
        <q-icon name="gavel" />
      </q-item-section>

      <q-item-section>
        <q-item-label>Mis Faltas</q-item-label>
      </q-item-section>
    </q-item>
    <q-item
      class="text-grey text-weight-bold"
      clickable
      active-class="text-n360 bg-grey-2"
      v-if="misPermisos.some((v) => v === '10.9')"
      to="/mis-certificados/lista"
    >
      <q-item-section avatar>
        <q-icon name="event_note" />
      </q-item-section>

      <q-item-section>
        <q-item-label>Certificado Laboral</q-item-label>
      </q-item-section>
    </q-item>
    <q-item
      class="text-grey text-weight-bold"
      clickable
      active-class="text-n360 bg-grey-2"
      v-if="misPermisos.some((v) => v === '10.10')"
      to="/mi-historial/lista"
    >
      <q-item-section avatar>
        <q-icon name="pan_tool" />
      </q-item-section>

      <q-item-section>
        <q-item-label>Historial Laboral</q-item-label>
      </q-item-section>
    </q-item>
    <q-item
      class="text-grey text-weight-bold"
      clickable
      active-class="text-n360 bg-grey-2"
      v-if="misPermisos.some((v) => v === '10.11')"
      to="/mis-capacitaciones/lista"
    >
      <q-item-section avatar>
        <q-icon name="assignment_ind" />
      </q-item-section>

      <q-item-section>
        <q-item-label>Capacitaciones</q-item-label>
      </q-item-section>
    </q-item>

    <!-- CERRAR SESION -->
    <q-item class="text-grey text-weight-bold" clickable @click="logout">
      <q-item-section avatar>
        <q-icon name="logout" />
      </q-item-section>

      <q-item-section>
        <q-item-label>Cerrar Sesión</q-item-label>
      </q-item-section>
    </q-item>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      isApro: false,
    };
  },
  computed: {
    ...mapState("generals", ["misPermisos"]),
  },
  methods: {
    logout() {
      this.$q.localStorage.clear();
      this.$router.push("/login");
    },
  },
  mounted() {
    if (this.$q.localStorage.getItem("aprobador_dpto")) this.isApro = true;
  },
};
</script>

<style lang="scss">
.text-n360 {
  color: #7a2ddb !important;
}
</style>
