<template>
  <div class="q-pa-md">
    <div align="center" class="text-grey-7 text-h6 text-weight-bold my-title">
      DETALLES DE LAS NOTIFICACIONES
    </div>
    <div
      class="q-pa-md text-weight-bold text-subtitle2 my-body text-grey-6 text-center"
    >
      {{ form.content }}
    </div>
    <q-list bordered separator class="my-body">
      <div v-if="form.type == 'anticipos'">
        <q-item clickable v-ripple>
          <q-item-section>Fecha:</q-item-section>
          <q-item-section side>
            {{ doc.date || doc.advancedate }}
          </q-item-section>
        </q-item>
        <q-item clickable v-ripple>
          <q-item-section>Monto:</q-item-section>
          <q-item-section side>
            ${{ Number.parseFloat(doc.amount).toFixed(2) }}
          </q-item-section>
        </q-item>
        <q-item clickable v-ripple>
          <q-item-section>Descontar de Beneficios:</q-item-section>
          <q-item-section side>
            {{ doc.pagar_beneficio == true ? "Si" : "No" }}
          </q-item-section>
        </q-item>
        <q-item v-if="doc.pagar_beneficio" clickable v-ripple>
          <q-item-section>Aprobar exceder limite:</q-item-section>
          <q-item-section side>
            {{ doc.validar_limite == true ? "Si" : "No" }}
          </q-item-section>
        </q-item>
        <q-item v-if="doc.pagar_beneficio" clickable v-ripple>
          <q-item-section>Periodo:</q-item-section>
          <q-item-section side>
            {{ doc.year }}
          </q-item-section>
        </q-item>
        <q-item v-if="doc.pagar_beneficio" clickable v-ripple>
          <q-item-section>Beneficio:</q-item-section>
          <q-item-section side>
            {{ beneficios.find((v) => v.value == doc.beneficio).label }}
          </q-item-section>
        </q-item>
        <q-item clickable v-ripple>
          <q-item-section>Estatus:</q-item-section>
          <q-item-section side>
            {{ doc.estatus == "a" ? "Aprobado" : "Rechazado" }}
          </q-item-section>
        </q-item>
      </div>
      <div v-if="form.type == 'vacaciones'">
        <q-item>
          <q-item-section>Fecha de solicitud:</q-item-section>
          <q-item-section side>
            {{ $moment(doc.created_at).format("YYYY-MM-DD") }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Periodo:</q-item-section>
          <q-item-section side>
            {{ doc.periodo }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Fecha de inicio:</q-item-section>
          <q-item-section side>
            {{ $moment(doc.start).format("YYYY-MM-DD") }}
          </q-item-section>
        </q-item>
        <q-item v-if="doc.end">
          <q-item-section>Fecha de finalización:</q-item-section>
          <q-item-section side>
            {{ $moment(doc.end).format("YYYY-MM-DD") }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Tipo de generación:</q-item-section>
          <q-item-section side>
            {{
              tipos_gen.find((v) => v.value === doc.mode)
                ? tipos_gen.find((v) => v.value === doc.mode).label
                : "Sin Tipo "
            }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Días normales tomados:</q-item-section>
          <q-item-section side>
            {{ doc.days }}
          </q-item-section>
        </q-item>
        <q-item v-if="!doc.anticipar">
          <q-item-section>Valor normal:</q-item-section>
          <q-item-section side>
            ${{ Number.parseFloat(doc.valor).toFixed(2) || 0 }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Días adicionales tomados:</q-item-section>
          <q-item-section side>
            {{ doc.days_adicionales || 0 }}
          </q-item-section>
        </q-item>
        <q-item v-if="!doc.anticipar">
          <q-item-section>Valor Adicional:</q-item-section>
          <q-item-section side>
            ${{
              doc.valor_adicional
                ? Number.parseFloat(doc.valor_adicional).toFixed(2)
                : 0
            }}
          </q-item-section>
        </q-item>
        <q-item v-if="doc.mode_adicional">
          <q-item-section>Tipo de pago adicional:</q-item-section>
          <q-item-section side>
            {{
              tipos_gen.find((v) => v.value === doc.mode_adicional)
                ? tipos_gen.find((v) => v.value === doc.mode_adicional).label
                : "Sin Tipo "
            }}
          </q-item-section>
        </q-item>
        <q-item v-if="doc.anticipar">
          <q-item-section>Días anticipados tomados:</q-item-section>
          <q-item-section side>
            {{ doc.dias_vacaciones_anticipadas || 0 }}
          </q-item-section>
        </q-item>
        <q-item v-if="doc.anticipar">
          <q-item-section>Días anticipados adicionales tomados:</q-item-section>
          <q-item-section side>
            {{ doc.dias_vacaciones_anticipadas_a || 0 }}
          </q-item-section>
        </q-item>
        <q-item v-if="doc.anticipar">
          <q-item-section>Valor anticipado:</q-item-section>
          <q-item-section side>
            ${{ doc.valor ? Number.parseFloat(doc.valor).toFixed(2) : 0 }}
          </q-item-section>
        </q-item>
        <q-item v-if="doc.anticipar">
          <q-item-section>Valor anticipado adicional:</q-item-section>
          <q-item-section side>
            ${{
              doc.valor_adicional
                ? Number.parseFloat(doc.valor_adicional).toFixed(2)
                : 0
            }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Estatus:</q-item-section>
          <q-item-section side>
            {{ doc.estatus == "a" ? "Aprobado" : "Rechazado" }}
          </q-item-section>
        </q-item>
      </div>
      <div v-if="form.type == 'prestamos'">
        <q-item>
          <q-item-section>Fecha de solicitud:</q-item-section>
          <q-item-section side>
            {{ $moment(doc.date).format("YYYY-MM-DD") }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Motivo:</q-item-section>
          <q-item-section side>
            {{ doc.motivo }}
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section>Monto:</q-item-section>
          <q-item-section side>
            ${{ Number.parseFloat(doc.amount).toFixed(2) }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Fecha:</q-item-section>
          <q-item-section side>
            {{ doc.date }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Interest:</q-item-section>
          <q-item-section side> {{ doc.interest || 0 }} % </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Estatus:</q-item-section>
          <q-item-section side>
            {{ doc.estatus == "a" ? "Aprobado" : "Rechazado" }}
          </q-item-section>
        </q-item>

        <div>
          <q-virtual-scroll
            style="max-height: 300px"
            :items="doc.cuotas"
            separator
          >
            <template v-slot="{ item, index }">
              <q-expansion-item
                :key="index"
                expand-separator
                :label="'Cuota ' + (index + 1)"
                :caption="item.descuento"
              >
                <q-item>
                  <q-item-section>Fecha:</q-item-section>
                  <q-item-section side>
                    {{ item.month + "/" + item.year }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>Monto:</q-item-section>
                  <q-item-section side>
                    ${{ Number.parseFloat(item.amount).toFixed(2) }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>Rol:</q-item-section>
                  <q-item-section side>
                    {{
                      roles.find((v) => v._id == item.rol)
                        ? roles.find((v) => v._id == item.rol).name
                        : "Sin rol"
                    }}
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>Interes:</q-item-section>
                  <q-item-section side>
                    {{ item.interest || 0 }}
                  </q-item-section>
                </q-item>
              </q-expansion-item>
            </template>
          </q-virtual-scroll>
        </div>
      </div>
      <div v-if="form.type == 'permisos'">
        <q-item>
          <q-item-section>Fecha de solicitud:</q-item-section>
          <q-item-section side>
            {{ $moment(doc.created_at).format("YYYY-MM-DD") }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Fecha de inicio:</q-item-section>
          <q-item-section side>
            {{ doc.inicio }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Fecha de finalización:</q-item-section>
          <q-item-section side>
            {{ doc.fin }}
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section>Solicitud:</q-item-section>
          <q-item-section side>
            {{
              tipos_permisos.find((v) => v.value === doc.solicitud).label ||
              "Sin Solicitud"
            }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Mótivo:</q-item-section>
          <q-item-section side>
            {{
              !options.find((v) => v.value === doc.motivo)
                ? "Sin Motivo"
                : options.find((v) => v.value === doc.motivo).label
            }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Días:</q-item-section>
          <q-item-section side>
            {{ doc.dias }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Estatus:</q-item-section>
          <q-item-section side>
            {{ doc.estatus == "a" ? "Aprobado" : "Rechazado" }}
          </q-item-section>
        </q-item>
      </div>
      <div v-if="doc.file" align="center" class="q-pa-md">
        <q-btn
          label="Comprobante"
          outline
          color="n360"
          @click="downloadFile(doc.file)"
        />
      </div>
    </q-list>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { openURL } from "quasar";
export default {
  data() {
    return {
      doc: {},

      beneficios: [
        { label: "Décimo tercero", value: "decimo_tercero" },
        { label: "Décimo cuarto", value: "decimo_cuarto" },
        { label: "Utilidades", value: "utilidades" },
      ],
      tipos_gen: [
        {
          label: "Normal",
          value: "norm",
        },
        {
          label: "Solo descontar días",
          value: "days",
        },
        {
          label: "Solo descontar pago",
          value: "pago",
        },
        {
          label: "Vacaciones Pagadas",
          value: "pagadas",
        },
        {
          label: "Anticipadas normal",
          value: "normal",
        },
        {
          label: "Anticipadas solo  pago",
          value: "pago",
        },
        {
          label: "Normal",
          value: "norm_adicional",
        },
        {
          label: "Pagados y Descontados",
          value: "pago_descuento_adicional",
        },
        {
          label: "Descontar Días",
          value: "days_adicional",
        },
        {
          label: "Descontar Pago",
          value: "pago_adicional",
        },
      ],
      roles: [],
      options: [],
    };
  },
  props: {
    value: [],
  },
  watch: {},
  computed: {
    ...mapState("generals", ["user", "company"]),
    form: {
      get() {
        return this.value;
      },
    },
    tipos_permisos() {
      return [
        {
          label: "Permisos - Licencias Médicas y Otros",
          value: "permiso-medico",
        },
        {
          label: "Permiso de Paternidad",
          value: "permiso-paternidad",
        },
        {
          label: "Permiso de Maternidad",
          value: "permiso-maternidad",
        },
        {
          label: "Otros permisos",
          value: "permiso-otros",
        },
      ];
    },
  },
  methods: {
    async getDoc() {
      const res = await this.$api.post("notificaciones/get-doc", {
        company: this.user.data.__company__,
        url: this.company.apiUrl,
        user: this.form.employee,
        data: this.form,
      });
      this.doc = res.data;
    },
    async getMotivos() {
      const tipos_partos = [
        {
          label: "Normal",
          value: "Normal",
        },
        {
          label: "Cesárea",
          value: "Cesárea",
        },
        {
          label: "Prematuro",
          value: "Prematuro",
        },
        {
          label: "Adopción",
          value: "Adopción",
        },
      ];
      let medicos = [];
      let otros = [];
      await this.$api
        .post("permisos/motivos-permisos-medicos", {
          url: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          if (v.data.length) {
            medicos = v.data.map((val) => ({
              label: val.nombre,
              value: val._id,
            }));
          }
        });
      await this.$api
        .post("permisos/motivos-permisos-otros", {
          url: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          if (v.data.length) {
            otros = v.data.map((val) => ({
              label: val.nombre,
              value: val._id,
            }));
            otros.push({
              label: "Licencia sin sueldo",
              value: "lic_sin_sueldo",
            });
          }
        });

      this.options = [...tipos_partos, ...medicos, ...otros];
    },
    downloadFile(file) {
      openURL(this.$env.storage + file);
    },
  },
  async mounted() {
    await this.getDoc();
    await this.getMotivos();
    await this.$api
      .post("prestamos/tipo-sueldo", {
        user: this.user.data._id,
        url: this.company.apiUrl,
        company: this.user.data.__company__,
      })
      .then((val) => {
        this.roles = val.data;
      });
  },
};
</script>

<style lang="scss">
.text-n360 {
  color: #7a2ddb !important;
}
</style>
