<template>
  <div>
    <q-virtual-scroll style="max-height: 400px" :items="data">
      <template v-slot="{ item, index }">
        <q-item
          :key="index"
          clickable
          :active="!item.open"
          active-class="bg-grey-2 text-grey-8"
          class="my-title q-pa-md"
        >
          <q-item-section avatar>
            <q-avatar
              color="n360"
              text-color="white"
              icon="notifications_active"
              v-if="!item.open"
            />
            <q-avatar
              color="n360"
              text-color="white"
              icon="notifications"
              v-else
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ item.title }}</q-item-label>
            <q-item-label caption>{{
              $moment(item.created_at).format("YYYY-MM-DD hh:ss")
            }}</q-item-label>
          </q-item-section>
          <q-item-section avatar>
            <q-btn flat round icon="more_vert">
              <q-menu>
                <q-list style="min-width: 100px">
                  <q-item clickable @click="open(item)">
                    <q-item-section>Visualizar</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </q-item-section>
        </q-item>
      </template>
    </q-virtual-scroll>
    <q-dialog v-model="dialog_mas" @hide="show">
      <q-card style="width: 500px; max-width: 80vw; max-height: 50vw">
        <notify-mas v-model="noitfy_mas" />
        <q-card-actions align="center">
          <q-btn label="Cerrar" color="n360" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapState } from "vuex";
import NotifyMas from "./NotifyMas.vue";
export default {
  components: {
    NotifyMas,
  },
  data() {
    return {
      dialog_mas: false,
      noitfy_mas: {},
    };
  },
  props: {
    value: [],
  },
  watch: {},
  computed: {
    ...mapState("generals", ["user", "company"]),
    data: {
      get() {
        return this.value;
      },
    },
  },
  methods: {
    open(row) {
      try {
        this.dialog_mas = true;
        this.noitfy_mas = row;
        if (row.open) return;
        this.$api.post("notificaciones/open", {
          company: this.user.data.__company__,
          url: this.company.apiUrl,
          data: row,
        });
      } catch (error) {
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    show() {
      this.$socket.notify();
    },
  },
};
</script>

<style lang="scss">
.text-n360 {
  color: #7a2ddb !important;
}
</style>
