<template>
  <div>
    <!-- MOBILE -->
    <panel-mobile v-if="$q.platform.is.mobile" />

    <!-- DESKTOP -->
    <panel-desktop v-if="$q.platform.is.desktop" />
  </div>
</template>

<script>
import PanelMobile from "src/layouts/Mobile/Panel/PanelMobile.vue";
import PanelDesktop from "src/layouts/Desktop/Panel/PanelDesktop.vue";

export default {
  name: "Panel",
  components: {
    PanelMobile,
    PanelDesktop,
  },
  data() {
    return {};
  },
};
</script>
