<template>
  <q-page class="q-pa-sm">
    <div class="bg-white q-pb-xl">
      <div class="text-weight-bold text-h6 text-grey-6 my-title text-center">
        Aprobador de Departamento ({{ mi_aprobador }})
      </div>
      <div
        class="q-ma-xl"
        style="
          border-width: 1px;
          border-style: solid;
          border-color: #7a2ddb;
          border-radius: 16px;
        "
      >
        <div
          class="text-white text-weight-medium q-pt-sm my-title text-center"
          style="height: 35px; background: #7a2ddb; border-radius: 15px"
        >
          PERIODOS DISPONIBLES PARA GENERAR
        </div>
        <div class="row q-gutter-md justify-center">
          <div style="width: 80%">
            <q-table
              v-if="info_list.length"
              :data="info_list"
              :columns="columns"
              row-key="name"
              :loading="loading_list"
              :hide-bottom="info_list.length > 5 ? false : true"
              class="q-mb-xs q-mt-xs no-shadow my-title"
            >
              <template v-slot:header="props">
                <tr :props="props" style="height: 35px">
                  <q-th
                    v-for="col in props.cols"
                    :key="col.name"
                    :props="props"
                    style="color: #4f2b8a; background: rgba(122, 45, 219, 0.2)"
                  >
                    {{ col.label }}
                  </q-th>
                </tr>
              </template>

              <div slot="bottom" slot-scope="props" class="row flex-center fit">
                <q-btn
                  round
                  dense
                  flat
                  icon="chevron_left"
                  color="nomina"
                  class="q-mr-md"
                  :disable="props.isFirstPage"
                  @click="props.prevPage"
                />
                <q-btn
                  round
                  dense
                  flat
                  icon="chevron_right"
                  color="nomina"
                  :disable="props.isLastPage"
                  @click="props.nextPage"
                />
              </div>
            </q-table>
            <div
              v-else
              class="text-weight-medium text-h5 text-grey q-pt-lg q-mt-lg"
            >
              No hay Periodos Disponibles para Generar
            </div>
          </div>
          <div class="column justify-center q-ml-sm q-mb-xs">
            <q-btn
              class="q-mt-sm btn-n360 my-title"
              label="Solicitar "
              :disable="!info_list.length"
              @click="generar()"
            />
          </div>
        </div>
      </div>
      <div
        style="
          border-width: 1px;
          border-style: solid;
          border-color: #7a2ddb;
          border-radius: 16px;
        "
        class="q-mx-xl q-mt-md"
      >
        <div
          class="text-white text-center text-weight-medium q-pt-sm"
          style="height: 35px; background: #7a2ddb; border-radius: 15px"
        >
          PERIODO ACTUAL VACACIONES
        </div>
        <div class="row gutter-md justify-center">
          <div style="width: 100%">
            <q-table
              :data="info_list_p"
              :columns="columns"
              row-key="name"
              :loading="loading_list"
              hide-bottom
              class="q-mb-xs q-mt-xs q-mx-sm no-shadow"
            >
              <tr slot="header" slot-scope="props" style="height: 35px">
                <q-th
                  v-for="col in props.cols"
                  :key="col.name"
                  :props="props"
                  style="color: #4f2b8a; background: rgba(122, 45, 219, 0.2)"
                >
                  {{ col.label }}
                </q-th>
              </tr>
            </q-table>
          </div>
        </div>
      </div>
    </div>

    <!-- DIALOGS -->
    <q-dialog v-model="opened" @hide="form = {}">
      <q-card class="q-ma-md my-title" style="width: 950px; max-width: 90vw">
        <q-card-section class="text-center text-bold">
          Generar vacaciones
        </q-card-section>
        <q-card-section class="text-center">
          <div class="q-mt-md text-bold">Modo de Generacion de Vacaciones</div>
          <q-btn-group class="q-mt-md" push>
            <q-btn push label="Normal" icon="timeline" />
          </q-btn-group>
        </q-card-section>
        <q-card-section>
          <div class="q-pa-lg">
            <div class="row q-gutter-md">
              <div class="col">
                <q-card style="width: 400px" align="center">
                  <q-card-section class="text-center">
                    Datos de las Vacaciones
                  </q-card-section>
                  <q-card-section>
                    <div style="width: 300px">
                      <q-select
                        ref="period"
                        :options="periodos"
                        label="Periodo"
                        v-model="form.period"
                        @input="calc_dias(), validate_adicional()"
                        emit-value
                        map-options
                        color="n360"
                        :rules="[(val) => !!val || '* Requerido', ,]"
                      />
                    </div>
                    <div style="width: 300px">
                      <q-input
                        ref="start"
                        label="Fecha de inicio"
                        v-model="form.start"
                        color="n360"
                        readonly
                        :rules="[(val) => !!val || '* Requerido', ,]"
                      >
                        <template v-slot:prepend>
                          <q-icon name="event" class="cursor-pointer">
                            <q-popup-proxy
                              cover
                              transition-show="scale"
                              transition-hide="scale"
                            >
                              <q-date
                                v-model="form.start"
                                mask="YYYY-MM-DD"
                                color="n360"
                              >
                                <div class="row items-center justify-end">
                                  <q-btn v-close-popup label="cerrar" flat />
                                </div>
                              </q-date>
                            </q-popup-proxy>
                          </q-icon>
                        </template>
                      </q-input>
                    </div>
                    <div style="width: 300px">
                      <q-select
                        label="Días normales disponibles"
                        :options="dias_disponibles"
                        v-model="form.days"
                        emit-value
                        map-options
                        color="n360"
                      />
                    </div>
                    <div
                      v-if="
                        dias_disponibles_adicionales.length > 1 ||
                        validar_adicionales
                      "
                    >
                      <div class="q-mt-md text-weight-bolder text-grey-7">
                        Días Adicionales Disponibles
                      </div>
                      <div class="row justify-center q-gutter-sm">
                        <div class="col-md-6 col-xs-12">
                          <q-select
                            label="Modo de pago"
                            :options="tipos_adicional"
                            v-model="form.mode_adicional"
                            emit-value
                            map-options
                            color="n360"
                          />
                        </div>
                        <div class="col-md-6 col-xs-12">
                          <q-select
                            label="Días"
                            :disable="!form.mode_adicional"
                            :options="dias_disponibles_adicionales"
                            v-model="form.days_adicionales"
                            emit-value
                            map-options
                            color="n360"
                          />
                        </div>
                      </div>
                    </div>
                    <div style="width: 300px" class="q-pt-md">
                      <q-list bordered class="rounded-borders">
                        <q-expansion-item
                          expand-separator
                          dense
                          dense-toggle
                          icon="upload"
                          label="Cargar comprobante"
                          header-class="text-n360"
                        >
                          <q-card>
                            <q-card-section>
                              <q-uploader
                                v-if="!form.file"
                                class="text-left"
                                color="purple-10"
                                style="max-width: 270px; color: #7a2ddb"
                                label="Archivo"
                                @added="getRuta"
                                @removed="(file = null), (file_ = false)"
                                accept=".jpg, .jpeg, .png, .pdf, image/*"
                                :readonly="file_"
                              />
                              <div v-else class="my-title text-center">
                                <p>Eliminar comprobante y recargar</p>
                                <q-btn
                                  label="Eliminar"
                                  color="n360"
                                  outline
                                  @click="removeFile(form.file)"
                                />
                              </div>
                            </q-card-section>
                          </q-card>
                        </q-expansion-item>
                      </q-list>
                    </div>
                  </q-card-section>
                </q-card>
              </div>
              <div class="col">
                <q-card style="width: 400px">
                  <q-card-section class="text-center">
                    Vacaciones disponibles
                  </q-card-section>
                  <q-card-section>
                    <q-table
                      :data="records"
                      :columns="[
                        { label: 'Periodo', field: 'periodo' },
                        { label: 'Días', field: 'dias' },
                        {
                          label: 'Provision',
                          field: 'provision',
                          format: (val) =>
                            !Number.isInteger(val) ? val.toFixed(2) : val,
                        },

                        { label: 'Adicionales', field: 'dias_adicionales' },
                        {
                          label: 'Adicional',
                          field: 'provision_adicional',
                          format: (val) =>
                            !Number.isInteger(val) ? val.toFixed(2) : val,
                        },
                      ]"
                    />
                  </q-card-section>
                </q-card>
              </div>
            </div>
          </div>
        </q-card-section>

        <q-card-actions>
          <div class="text-center full-width">
            <q-btn
              label="Generar"
              class="btn-n360 my-title"
              @click="solicitar"
            />
          </div>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "SolicitarDesktop",
  data() {
    return {
      form: {},
      records: [],
      info_list: [],
      info_list_p: [],
      columns: [
        {
          name: "periodo",
          required: true,
          label: "Periodo",
          align: "left",
          field: "periodo",
          sortable: true,
        },
        {
          name: "dias",
          required: true,
          label: "Días",
          align: "center",
          field: "dias",
          sortable: true,
        },
        {
          name: "provision",
          required: true,
          label: "Provisión",
          align: "center",
          field: "provision",
          sortable: true,
        },
        {
          name: "dias_adicionales",
          required: true,
          label: "Días Adicionales",
          align: "center",
          field: "dias_adicionales",
          sortable: true,
        },
        {
          name: "provision_adicional",
          required: true,
          label: "Provisión",
          align: "center",
          field: "provision_adicional",
          sortable: true,
        },
      ],
      dias_disponibles_adicionales: [
        {
          label: "0",
          value: "0",
        },
      ],
      dias_disponibles: [
        {
          label: "0",
          value: "0",
        },
      ],
      tipos_adicional: [
        {
          label: "Normal",
          value: "norm_adicional",
        },
        {
          label: "Pagados y Descontados",
          value: "pago_descuento_adicional",
        },
        {
          label: "Descontar Días",
          value: "days_adicional",
        },
        {
          label: "Descontar Pago",
          value: "pago_adicional",
        },
      ],

      loading_list: false,
      opened: false,
      validar_adicionales: false,

      mi_aprobador: null,
      file: null,
      file_: false,
      collection: null,
    };
  },
  watch: {},
  computed: {
    ...mapState("generals", ["user", "company"]),
    periodos() {
      var peris = [];
      this.records.forEach((v, i) => {
        peris.push({
          label: v.periodo,
          value: v.error ? "error" : v.periodo,
        });
        if (v.error) {
          peris[i].rightIcon = "warning";
          peris[i].rightColor = "negative";
        }
      });
      this.form.periodo = peris[0];
      return peris;
    },
  },
  methods: {
    async solicitar() {
      this.$refs.period.validate();
      this.$refs.start.validate();

      if (this.$refs.period.hasError || this.$refs.start.hasError) {
        return this.$q.notify({
          message: "Campos requeridos",
          color: "negative",
        });
      }

      this.$q.loading.show();

      // SUBIR ARCHIVO
      let find_file = false;
      if (this.file) {
        const route = await this.uploadFile();
        this.form["file"] = route;
        this.file = null;
        this.file_ = false;
        find_file = true;
      }

      if (!this.form._id) this.form.employee = this.user._id;

      this.form.start = this.$moment(this.form.start)
      await this.$api
        .post("vacaciones/solicitar", {
          user: this.user,
          url: this.company.apiUrl,
          company: this.user.data.__company__,
          parent_company: this.user.data.parent_company,
          data: {
            ...this.form,
            period: this.form.period.split("-")[0],
            periodo: this.form.period,
            mode: "norm",
            data: this.records,
          },
          file: find_file,
        })
        .then((val) => {
          this.opened = false;
          this.form = {};
          this.$q.notify({
            message: "Vacaciones solicitadas con exito",
            color: "positive",
          });
          this.$q.loading.hide();
          if (this.$route.params.id) this.$router.push("/mis-vacaciones/lista");
        })
        .catch((error) => {
          this.$q.notify({
            message: error,
            color: "negative",
          });
          this.$q.loading.hide();
        });
    },
    async get_vacaciones() {
      try {
        this.loading_list = true;
        await this.$api
          .post("vacaciones/get-vacaciones-list-total", {
            user: this.user.data._id,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
          })
          .then((val) => {
            const data = val.data;
            if (data.disponibles.length) this.info_list = data.disponibles;
            else this.info_list = [];
            if (data.pendientes.length) this.info_list_p = data.pendientes;
            else this.info_list_p = [];
            this.loading_list = false;
          });
      } catch (error) {
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    async generar() {
      try {
        this.loading_list = true;
        await this.$api
          .post("vacaciones/get-vacaciones-list", {
            user: this.user.data._id,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
          })
          .then((val) => {
            this.records = val.data;
            this.loading_list = false;
            this.opened = true;
          });
      } catch (error) {
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    calc_dias() {
      if (this.form.period == "error") return;

      let dias = [
        {
          label: "0",
          value: "0",
        },
      ];
      let diasA = [
        {
          label: "0",
          value: "0",
        },
      ];
      let disponibles = this.records.find(
        (v) => v.periodo == this.form.period
      ).dias;
      let disponiblesA = this.records.find(
        (v) => v.periodo == this.form.period
      ).dias_adicionales;
      for (let i = 1; i <= disponibles; i++) {
        dias.push({
          label: "" + i,
          value: "" + i,
        });
      }
      this.dias_disponibles = dias;

      for (let i = 1; i <= disponiblesA; i++) {
        diasA.push({
          label: "" + i,
          value: "" + i,
        });
      }
      this.dias_disponibles_adicionales = diasA;
    },
    validate_adicional() {
      let res = this.records.find((v) => v.periodo == this.form.period);
      if (res && res.provision_adicional > 0) this.validar_adicionales = true;
      else this.validar_adicionales = false;
    },
    async getDoc() {
      if (this.$route.params.id) {
        this.collection = String(this.$route.params.id).replace("+", "/");
        const res = await this.$api.post("vacaciones/get-vacacion", {
          collection: this.collection,
          url: this.company.apiUrl,
          company: this.user.data.__company__,
          parent_company: this.user.data.parent_company,
        });
        this.form = res.data;
        this.form.period = res.data.periodo;

        await this.generar();
        this.calc_dias();
        this.validate_adicional();
      }
    },
    async getRuta(ruta) {
      this.file = ruta;
      this.file_ = true;
    },
    async uploadFile() {
      let route = null;
      await this.$files(
        "/vacaciones/upload-file",
        "comprobantes-vacaciones/" + this.file[0].name,
        { company: this.user.data.__company__, user: this.user.data._id }
      )
        .put(this.file[0])
        .then(async (ruta) => {
          route = ruta;
        })
        .catch((e) => {
          this.$q.loading.hide();
          this.$q.notify({
            message: "hubo un error al cargar el archivo",
            color: "negative",
          });
        });

      return route;
    },
    async removeFile(file) {
      this.$q
        .dialog({
          title: "Eliminar",
          message: "¿Está seguro de eliminar el comprobante?",
          cancel: true,
          persistent: true,
          color: "n360",
        })
        .onOk(async () => {
          this.$api
            .post("vacaciones/remove-file", {
              file: file,
              collection: this.collection,
              url: this.company.apiUrl,
              company: this.user.data.__company__,
              parent_company: this.user.data.parent_company,
              data: this.form,
            })
            .then(async (v) => {
              await this.getDoc();
            });
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    },
  },
  async mounted() {
    await this.get_vacaciones();

    await this.getDoc();
    await this.$api
      .post("vacaciones/mi-aprobador", {
        user: this.user.data._id,
        url: this.company.apiUrl,
        company: this.user.data.__company__,
      })
      .then((val) => {
        this.mi_aprobador = val.data;
      });
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
