<template>
  <div>
    <div class="text-grey-7 text-h6 text-weight-bold text-center">
      MÁS INOFRMACIÓN
    </div>
    <div class="q-pa-md text-weight-bold text-subtitle2">
      <q-list bordered separator class="rounded-borders">
        <q-item>
          <q-item-section>Fecha de solicitud:</q-item-section>
          <q-item-section side>
            {{ form.fecha }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Periodo:</q-item-section>
          <q-item-section side>
            {{ form.periodo }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Fecha de inicio:</q-item-section>
          <q-item-section side>
            {{ $moment(form.start).format("YYYY-MM-DD") }}
          </q-item-section>
        </q-item>
        <q-item v-if="form.end">
          <q-item-section>Fecha de finalización:</q-item-section>
          <q-item-section side>
            {{ $moment(form.end).format("YYYY-MM-DD") }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Tipo de generación:</q-item-section>
          <q-item-section side>
            {{
              tipos_gen.find((v) => v.value === form.mode)
                ? tipos_gen.find((v) => v.value === form.mode).label
                : "Sin Tipo "
            }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Días normales tomados:</q-item-section>
          <q-item-section side>
            {{ form.days }}
          </q-item-section>
        </q-item>
        <q-item v-if="!form.anticipar">
          <q-item-section>Valor normal:</q-item-section>
          <q-item-section side>
            ${{ Number.parseFloat(form.valor).toFixed(2) || 0 }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Días adicionales tomados:</q-item-section>
          <q-item-section side>
            {{ form.days_adicionales || 0 }}
          </q-item-section>
        </q-item>
        <q-item v-if="!form.anticipar">
          <q-item-section>Valor Adicional:</q-item-section>
          <q-item-section side>
            ${{
              form.valor_adicional
                ? Number.parseFloat(form.valor_adicional).toFixed(2)
                : 0
            }}
          </q-item-section>
        </q-item>
        <q-item v-if="form.mode_adicional">
          <q-item-section>Tipo de pago adicional:</q-item-section>
          <q-item-section side>
            {{
              tipos_gen.find((v) => v.value === form.mode_adicional)
                ? tipos_gen.find((v) => v.value === form.mode_adicional).label
                : "Sin Tipo "
            }}
          </q-item-section>
        </q-item>
        <q-item v-if="form.anticipar">
          <q-item-section>Días anticipados tomados:</q-item-section>
          <q-item-section side>
            {{ form.dias_vacaciones_anticipadas || 0 }}
          </q-item-section>
        </q-item>
        <q-item v-if="form.anticipar">
          <q-item-section>Días anticipados adicionales tomados:</q-item-section>
          <q-item-section side>
            {{ form.dias_vacaciones_anticipadas_a || 0 }}
          </q-item-section>
        </q-item>
        <q-item v-if="form.anticipar">
          <q-item-section>Valor anticipado:</q-item-section>
          <q-item-section side>
            ${{ form.valor ? Number.parseFloat(form.valor).toFixed(2) : 0 }}
          </q-item-section>
        </q-item>
        <q-item v-if="form.anticipar">
          <q-item-section>Valor anticipado adicional:</q-item-section>
          <q-item-section side>
            ${{
              form.valor_adicional
                ? Number.parseFloat(form.valor_adicional).toFixed(2)
                : 0
            }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Estatus:</q-item-section>
          <q-item-section side>
            {{ form.estatus_label }}
          </q-item-section>
        </q-item>
      </q-list>
    </div>
  </div>
</template>

<script>
export default {
  name: "VerMas",
  data() {
    return {
      tipos_gen: [
        {
          label: "Normal",
          value: "norm",
        },
        {
          label: "Solo descontar días",
          value: "days",
        },
        {
          label: "Solo descontar pago",
          value: "pago",
        },
        {
          label: "Vacaciones Pagadas",
          value: "pagadas",
        },
        {
          label: "Anticipadas normal",
          value: "normal",
        },
        {
          label: "Anticipadas solo  pago",
          value: "pago",
        },
        {
          label: "Normal",
          value: "norm_adicional",
        },
        {
          label: "Pagados y Descontados",
          value: "pago_descuento_adicional",
        },
        {
          label: "Descontar Días",
          value: "days_adicional",
        },
        {
          label: "Descontar Pago",
          value: "pago_adicional",
        },
      ],
    };
  },
  props: {
    value: [],
  },
  watch: {},
  computed: {
    form: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit("input", val);
      },
    },
  },
  methods: {},
  async mounted() {},
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
