<template>
  <q-layout view="lHh Lpr lFf" class="bg-grey-2">
    <q-header class="bg-n360 row items-center justify-between">
      <div class="text-weight-bold q-ml-xl row q-gutter-x-sm items-center">
        <q-avatar
          icon="admin_panel_settings"
          text-color="white"
          rounded
          size="100px"
          class="bg-purple-n360"
        />
        <div class="text-h5 text-weight-bold my-title">
          Panel de Administración
        </div>
      </div>
      <div class="row q-mr-xl q-gutter-x-md">
        <div>
          <img src="/logo-360-blanco.png" width="200px" />
        </div>
        <div>
          <q-btn icon="logout" round flat @click="logout" />
        </div>
      </div>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "PAnelDesktop",
  components: {},
  data() {
    return {};
  },
  computed: {
    ...mapState("generals", ["user"]),
  },
  methods: {
    logout() {
      this.$router.push("/login");
      this.$q.localStorage.clear();
    },
  },
};
</script>
