<template>
  <q-page class="q-pa-sm">
    <div class="bg-white">
      <div class="q-pa-md">
        <q-scroll-area style="height: 580px">
          <!-- Listado -->
          <q-table
            :data="rows"
            :columns="columns"
            :filter="filter"
            :loading="loading"
            row-key="name"
            class="my-title q-mt-lg"
            style="font-size: 15px"
          >
            <template v-slot:top>
              <div class="text-h6">CERTIFICADOS LABORALES</div>
              <q-space />
              <q-input
                outlined
                dense
                debounce="300"
                v-model="filter"
                placeholder="Buscar"
                color="n360"
              >
                <template v-slot:append>
                  <q-icon name="search" color="n360" />
                </template>
              </q-input>
            </template>
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="nombre" :props="props">
                  {{ props.row.nombre }}
                </q-td>
                <q-td key="titulo" :props="props">
                  {{ props.row.titulo }}
                </q-td>

                <q-td key="actions" :props="props">
                  <q-btn
                    color="n360"
                    outline
                    label="Descargar"
                    size="sm"
                    @click="descargar(props.row._id)"
                  />
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </q-scroll-area>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
import { openURL, exportFile } from "quasar";

export default {
  name: "ListadoDesktop",
  components: {},
  data() {
    return {
      filter: "",
      rows: [],
      loading: false,
      columns: [
        {
          name: "nombre",
          required: true,
          label: "TIPO DE CERTIFICADO",
          align: "left",
          field: "nombre",
          sortable: true,
        },
        {
          name: "titulo",
          required: true,
          label: "NOMBRE DEL CERTIFICADO",
          align: "center",
          field: "titulo",
          sortable: true,
        },
        { name: "actions", align: "right", label: "Acciones", sortable: true },
      ],
    };
  },
  computed: {
    ...mapState("generals", ["user", "company"]),
  },
  methods: {
    listado() {
      try {
        this.$api
          .post("certificados-laborales/listado", {
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            parent_company: this.user.data.parent_company,
          })
          .then((v) => {
            this.rows = v.data;
          });
      } catch (error) {
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    async descargar(id) {
      this.$q.loading.show({ message: "Generando certificado laboral..." });

      try {
        this.$api
          .post("certificados-laborales/pdf", {
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            parent_company: this.user.data.parent_company,
            user: this.user.data._id,
            formato: id,
          })
          .then((v) => {
            openURL(`${this.company.apiUrl}/${v.data}`);
            this.$q.loading.hide();
          });
      } catch (error) {
        this.$q.loading.hide();
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
  },
  async mounted() {
    await this.listado();
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
