<template>
  <q-page class="q-pa-sm">
    <div class="bg-white">
      <div class="q-pa-md row q-gutter-x-md">
        <q-btn
          :label="type === 'activo' ? 'Préstamos Pagados' : 'Préstamos Activos'"
          class="btn-n360 my-title"
          @click="type === 'activo' ? (type = 'pagado') : (type = 'activo')"
          :loading="loading_activos"
        />
        <q-btn
          to="/mis-prestamos/solicitar"
          label="Solicitar Préstamo"
          class="btn-n360 my-title"
        />
      </div>
      <div class="q-pa-md">
        <q-scroll-area style="height: 580px">
          <!-- ACTIVOS || PAGADOS -->
          <q-table
            :title="
              type === 'activo' ? 'PRÉSTAMOS ACTIVOS' : 'PRÉSTAMOS PAGADOS'
            "
            :data="rows"
            :columns="columns"
            :filter="filter"
            :loading="loading_activos"
            row-key="name"
            class="my-title"
          >
            <template v-slot:top-right>
              <q-input
                outlined
                dense
                debounce="300"
                v-model="filter"
                placeholder="Buscar"
                color="n360"
              >
                <template v-slot:append>
                  <q-icon name="search" color="n360" />
                </template>
              </q-input>
            </template>
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="amount" :props="props">
                  ${{ props.row.amount }}
                </q-td>
                <q-td key="dues" :props="props">
                  {{ props.row.dues }}
                </q-td>
                <q-td key="monto_pagado" :props="props">
                  ${{ props.row.monto_pagado }}
                </q-td>
                <q-td key="saldo" :props="props"> ${{ props.row.saldo }} </q-td>
                <q-td key="cuotas_x_pagar" :props="props">
                  {{ props.row.cuotas_x_pagar }}
                </q-td>
                <q-td key="actions" :props="props">
                  <q-btn
                    color="n360"
                    outline
                    label="Estado de cuenta"
                    size="sm"
                    @click="estadoPDF(props.row)"
                    :loading="loading_estado"
                  />
                  <q-btn
                    color="n360"
                    outline
                    label="Historico"
                    size="sm"
                    @click="historico(props.row._id)"
                  />
                </q-td>
              </q-tr>
            </template>
          </q-table>

          <!-- Solicitados -->
          <q-table
            :data="rows2"
            :columns="columns2"
            :filter="filter2"
            :loading="loading_solicidatos"
            row-key="name"
            class="my-title q-mt-lg"
            style="font-size: 15px"
          >
            <template v-slot:top>
              <div class="text-h6">PRÉSTAMOS SOLICITADOS</div>
              <q-space />
              <q-select
                outlined
                dense
                v-model="type_solicitados"
                label="Filtro"
                color="n360"
                :options="[
                  { label: 'Aprobados', value: 'a' },
                  { label: 'Rechazados', value: 'r' },
                  { label: 'Pendientes', value: 'p' },
                  { label: 'Todos', value: 'all' },
                ]"
                emit-value
                map-options
                style="width: 150px"
              />
              <q-space />
              <q-input
                outlined
                dense
                debounce="300"
                v-model="filter2"
                placeholder="Buscar"
                color="n360"
              >
                <template v-slot:append>
                  <q-icon name="search" color="n360" />
                </template>
              </q-input>
            </template>
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="amount" :props="props">
                  ${{ props.row.amount }}
                </q-td>
                <q-td key="dues" :props="props">
                  {{ props.row.dues }}
                </q-td>
                <q-td key="estatus_label" :props="props">
                  {{ props.row.estatus_label }}
                </q-td>
                <q-td key="fecha" :props="props"> {{ props.row.fecha }} </q-td>
                <q-td key="cuotas_x_pagar" :props="props">
                  ${{ props.row.cuotas_x_pagar }}
                </q-td>
                <q-td key="actions" :props="props">
                  <q-btn
                    color="n360"
                    outline
                    label="Editar"
                    size="sm"
                    :to="
                      '/mis-prestamos/solicitar/' +
                      props.row.collection +
                      '+' +
                      props.row._id
                    "
                    v-if="props.row.available"
                  />
                  <q-btn
                    color="n360"
                    outline
                    label="Eliminar"
                    size="sm"
                    @click="
                      eliminar(
                        props.row.collection + '/' + props.row._id,
                        props.row.file
                      )
                    "
                    v-if="props.row.available"
                  />
                  <q-btn
                    v-if="props.row.file"
                    color="n360"
                    outline
                    label="Comprobante"
                    size="sm"
                    :loading="loading_file"
                    @click="downloadFile(props.row.file, props.row.site)"
                  />
                  <q-btn
                    color="n360"
                    outline
                    label="Ver más"
                    size="sm"
                    @click="verMas(props.row)"
                  />
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </q-scroll-area>
      </div>
    </div>

    <!-- DIALOGS -->
    <q-dialog v-model="dialog_historico">
      <q-card style="width: 500px; max-width: 80vw; max-height: 50vw">
        <q-card-actions align="right">
          <q-btn flat icon="close" color="n360" v-close-popup />
        </q-card-actions>
        <historico v-model="historico_list" />
      </q-card>
    </q-dialog>
    <q-dialog v-model="dialog_mas">
      <q-card style="width: 500px; max-width: 80vw; max-height: 50vw">
        <q-card-actions align="right">
          <q-btn flat icon="close" color="n360" v-close-popup />
        </q-card-actions>
        <ver-mas v-model="ver_mas" />
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
import Historico from "./Historico.vue";
import VerMas from "./VerMas.vue";
import jsPDF from "jspdf";
import "jspdf-autotable";
import { openURL } from "quasar";
export default {
  name: "ListadoDesktop",
  components: {
    Historico,
    VerMas,
  },
  data() {
    return {
      type: "activo",
      type_solicitados: "all",
      filter: "",
      filter2: "",
      dialog_historico: false,
      dialog_mas: false,
      loading_activos: false,
      loading_estado: false,
      loading_solicidatos: false,
      loading_file: false,
      historico_list: [],
      rows: [],
      rows2: [],
      ver_mas: {},
      columns: [
        {
          name: "amount",
          required: true,
          label: "MONTO APROBADO",
          align: "left",
          field: (row) => row.amount,
          format: (val) => `${val}`,
          sortable: true,
        },
        {
          name: "dues",
          align: "center",
          label: "CUOTAS APROBADAS",
          field: "dues",
          sortable: true,
        },
        {
          name: "monto_pagado",
          align: "center",
          label: "MONTO PAGADO",
          field: "monto_pagado",
          sortable: true,
        },
        {
          name: "saldo",
          align: "center",
          label: "SALDO PENDIENTE",
          field: "saldo",
          sortable: true,
        },
        {
          name: "cuotas_x_pagar",
          align: "center",
          label: "CUOTAS PENDIENTES",
          field: "cuotas_x_pagar",
          sortable: true,
        },
        { name: "actions", align: "right", label: "Acciones", sortable: true },
      ],
      columns2: [
        {
          name: "amount",
          required: true,
          label: "MONTO",
          align: "left",
          field: (row) => row.amount,
          format: (val) => `${val}`,
          sortable: true,
        },
        {
          name: "dues",
          align: "center",
          label: "CUOTAS ",
          field: "dues",
          sortable: true,
        },
        {
          name: "estatus_label",
          align: "center",
          label: "ESTATUS",
          field: "estatus_label",
          sortable: true,
        },
        {
          name: "fecha",
          align: "center",
          label: "FECHA SOLICITUD",
          field: "fecha",
          sortable: true,
        },
        { name: "actions", align: "right", label: "Acciones", sortable: true },
      ],
    };
  },
  watch: {
    type() {
      this.loading_activos = true;
      setTimeout(async () => {
        await this.listActivos();
        this.loading_activos = false;
      }, 2000);
    },
    type_solicitados() {
      this.loading_solicidatos = true;
      setTimeout(async () => {
        await this.solicitados();
        this.loading_solicidatos = false;
      }, 2000);
    },
  },
  computed: {
    ...mapState("generals", ["user", "company"]),
  },
  methods: {
    listActivos() {
      try {
        this.loading_activos = true;
        this.$api
          .post("prestamos/activos-pagados", {
            user: this.user,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            type: this.type,
          })
          .then((v) => {
            this.rows = v.data;
            this.loading_activos = false;
          });
      } catch (error) {
        this.loading_activos = false;
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    historico(id) {
      try {
        this.$q.loading.show();
        this.$api
          .post("prestamos/historico", {
            user: this.user,
            id: id,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
          })
          .then((v) => {
            this.historico_list = v.data;
            this.dialog_historico = true;
            this.$q.loading.hide();
          });
      } catch (error) {
        this.$q.loading.hide();

        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    eliminar(collection, file) {
      this.$q
        .dialog({
          title: "Eliminar",
          message: "¿Está seguro de eliminar la solicitud?",
          cancel: true,
          persistent: true,
          color: "n360",
        })
        .onOk(async () => {
          await this.$api.post("prestamos/eliminar", {
            collection: collection,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            parent_company: this.user.data.parent_company,
            file: file ? file : null,
          });
          await this.solicitados();
          this.$q.notify({
            message: "Solicitud eliminada",
            color: "negative",
          });
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    },
    solicitados() {
      try {
        this.loading_solicidatos = true;
        this.$api
          .post("prestamos/solicitudes", {
            user: this.user,
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            type: this.type_solicitados,
          })
          .then((v) => {
            this.rows2 = v.data;
            this.loading_solicidatos = false;
          });
      } catch (error) {
        this.loading_solicidatos = false;
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    async estadoPDF(row) {
      try {
        this.loading_estado = true;
        await this.$api
          .post("prestamos/estado-pdf", {
            data: row,
            company: this.user.data.__company__,
            url: this.company.apiUrl,
          })
          .then((v) => {
            let data = v.data;
            let footer =
              "Dirección:" +
              " " +
              data.direccion +
              ". Telefonos:" +
              " " +
              data.phone +
              "\n" +
              data.ciudad +
              ", " +
              data.provincia +
              ", Ecuador.";

            let pdf = new jsPDF();
            let pageSize = pdf.internal.pageSize.height;
            //Logo
            pdf.addImage(data.logo64, "PNG", 20, 20, 50, 50);
            pdf.setFontSize(12);
            const fecha = data.ciudad + ", " + data.today;
            pdf.text(fecha, 100, 20, "left");
            pdf.setFontSize(18);

            let titles = [
              "Estado de Cuenta",
              "Empleado: ",
              "Cédula: ",
              "Prestamo: ",
              "Fecha de Solicitud: ",
              "Monto: ",
              "Monto Cancelado: ",
              "Monto Pendiente: ",
              "Cuotas Pagadas: ",
              "Cuotas por Pagar: ",
              "Cargo: ",
              "Motivo: ",
            ];
            let xOffset1 =
              pdf.internal.pageSize.width / 2 -
              (pdf.getStringUnitWidth(titles[0]) * pdf.internal.getFontSize()) /
                2; // centrado segun la palabra
            // Titulo Estado de Cuenta
            pdf.text(titles[0], xOffset1, 80);

            // subtitulos
            let xOffset2 = pdf.internal.pageSize.getWidth();
            xOffset2 = xOffset2 / 2;

            // pdf.setFontStyle('normal')
            pdf.setFontSize(12);
            pdf.text(titles[1] + (data.name + " " + data.last_name), 20, 100);
            pdf.text(titles[10] + data.cargo, 20, 110);
            pdf.text(
              titles[4] + this.$moment(data.date).format("DD-MM-YYYY"),
              20,
              120
            );
            pdf.text(titles[3], 20, 130);
            pdf.text(
              titles[5] + Number.parseFloat(data.amount).toFixed(2) + " $",
              xOffset2,
              130
            );
            pdf.text(
              titles[6] +
                Number.parseFloat(data.monto_pagado).toFixed(2) +
                " $",
              20,
              140
            );
            pdf.text(
              titles[7] + Number.parseFloat(data.saldo).toFixed(2) + " $",
              xOffset2,
              140
            );
            pdf.text(titles[8] + data.cuotas_pagadas, 20, 150);
            pdf.text(titles[9] + data.cuotas_x_pagar, xOffset2, 150);
            pdf.text(titles[11] + data.motivo, 20, 160);
            //tabla de cuotas
            let data_ = data.cuotas;
            for (let i = 0; i < data_.length; i++) {
              for (let j = 0; j < data.roles.length; j++) {
                if (data_[i].rol === data.roles[j]._id) {
                  data_[i].rol = data.roles[j].name;
                }
              }
            }
            let rows = [];
            for (let k = 0; k < data_.length; k++) {
              rows.push([
                k + 1,
                data_[k].month + "/" + data_[k].year,
                Number.parseFloat(data_[k].amount).toFixed(2),
                data_[k].forma_pago,
                data_[k].descuento,
              ]);
            }
            let numRows = rows.length;

            let columns = [
              "Cuota",
              "Fecha",
              "Monto",
              "Forma de Pago",
              "Estado",
            ];
            let height = 0;
            pdf.autoTable({
              columns,
              body: rows,
              startY: 200,
              theme: "grid",
              headStyles: {
                0: { minCellWidth: "5", halign: "center" },
                1: { minCellWidth: "10", halign: "center" },
                2: { minCellWidth: "10", halign: "center" },
                3: { minCellWidth: "10", halign: "center" },
                4: { minCellWidth: "10", halign: "center" },
              },
              columnStyles: {
                0: { minCellWidth: "5", halign: "center" },
                1: { minCellWidth: "10", halign: "center" },
                2: { minCellWidth: "10", halign: "center" },
                3: { minCellWidth: "10", halign: "center" },
                4: { minCellWidth: "10", halign: "center" },
              },
              didDrawPage: function (data) {
                // footer
                pdf.setFontSize(8);
                let yFooter = pageSize - 20;
                pdf.text(footer, 300, yFooter, "center");
              },
            });

            //Logo
            pdf.setFontSize(12);
            const pageCount = pdf.internal.getNumberOfPages();
            pdf.save(`Estado de Cuenta - ${data.employee}.pdf`);
          });
        this.loading_estado = false;
        this.$q.notify({
          message: "Estado de cuenta Descargado con exito!",
          color: "positive",
        });
      } catch (error) {
        this.loading_estado = false;
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    verMas(row) {
      this.ver_mas = row;
      this.dialog_mas = true;
    },
    downloadFile(file, site) {
      const route = site == "portal" ? this.$env.storage : this.company.apiUrl + '/';
      openURL(route + file);
    },
  },
  async mounted() {
    await this.listActivos();
    await this.solicitados();
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
