<template>
  <q-page class="q-pa-sm">
    <div class="bg-white">
      <div class="q-pa-md">
        <q-btn @click="solicitar" label="Solicitar" class="btn-n360 my-title" />
      </div>
      <div class="text-weight-bold text-h6 text-grey-6 my-title text-center">
        Aprobador de Departamento ({{ mi_aprobador }})
      </div>
      <div class="row items-center q-gutter-x-md q-pa-md my-body">
        <div style="width: 300px">
          <q-select
            v-model="form.motivoAnticipo"
            label="Motivo de anticipo"
            color="n360"
            :options="motivos"
            emit-value
            map-options
          />
        </div>
        <div style="width: 300px" @click="dialog_date = true">
          <q-input
            ref="date"
            label="Día del Anticipo"
            v-model="form.advancedate"
            color="n360"
            readonly
            :rules="[(val) => !!val || '* Requerido', ,]"
          >
            <template v-slot:prepend>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy
                  cover
                  transition-show="scale"
                  transition-hide="scale"
                  v-model="dialog_date"
                >
                  <q-date
                    v-model="form.advancedate"
                    mask="YYYY-MM-DD"
                    color="n360"
                    :navigation-min-year-month="min"
                  >
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="cerrar" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
        <div v-if="!form.pagar_beneficio" style="width: 300px">
          <q-select
            v-model="form.month"
            label="Mes"
            color="n360"
            :options="months"
            emit-value
            map-options
            readonly
          />
        </div>
        <div v-else style="width: 300px">
          <q-select
            v-model="form.beneficio"
            label="Beneficio"
            color="n360"
            :options="options"
            emit-value
            map-options
            @input="setDate"
          />
        </div>
        <div style="width: 300px">
          <q-input
            ref="amount"
            v-model="form.amount"
            label="Monto"
            color="n360"
            type="number"
            :rules="[(val) => !!val || '* Requerido', ,]"
            :hint="'Monto máximo ' + max_amount + '$'"
          />
        </div>
        <div style="width: 300px" v-if="form.beneficio === null">
          <q-select
            v-model="form.rol"
            label="Rol"
            color="n360"
            :options="roles"
            emit-value
            map-options
          />
        </div>
        <div style="width: 300px" v-if="form.pagar_beneficio">
          <q-input
            v-model="form.year"
            label="Año del periodo"
            color="n360"
            type="number"
            readonly
          />
        </div>
        <div style="width: 300px" v-if="form.pagar_beneficio">
          <q-select
            v-model="form.month"
            label="Mes"
            color="n360"
            :options="months"
            emit-value
            map-options
            readonly
          />
        </div>
        <div style="width: 300px" class="q-pt-md">
          <q-list bordered class="rounded-borders">
            <q-expansion-item
              expand-separator
              dense
              dense-toggle
              icon="upload"
              label="Cargar comprobante"
              header-class="text-n360"
            >
              <q-card>
                <q-card-section>
                  <q-uploader
                    v-if="!form.file"
                    class="text-left"
                    color="purple-10"
                    style="max-width: 270px; color: #7a2ddb"
                    label="Archivo"
                    @added="getRuta"
                    @removed="(file = null), (file_ = false)"
                    accept=".jpg, .jpeg, .png, .pdf, image/*"
                    :readonly="file_"
                  />
                  <div v-else class="my-title text-center">
                    <p>Eliminar comprobante y recargar</p>
                    <q-btn
                      label="Eliminar"
                      color="n360"
                      outline
                      @click="removeFile(form.file)"
                    />
                  </div>
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </q-list>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "SolicitarDesktop",
  data() {
    return {
      form: {
        pagar_beneficio: false,
        employee: null,
        year: null,
        month: null,
        motivoAnticipo: null,
      },
      min: this.$moment().format("YYYY/MM"),
      max: this.$moment().format("YYYY/MM"),
      max_amount: null,
      mi_aprobador: null,

      file: null,
      file_: false,
      collection: null,
      rolPagoValidate: false,
      dialog_date: false,

      motivos: [],
      options: [],
      roles: [],
      role: {},
      months: [
        { label: 'Enero', value: 1 },
        { label: 'Febrero', value: 2 },
        { label: 'Marzo', value: 3 },
        { label: 'Abril', value: 4 },
        { label: 'Mayo', value: 5 },
        { label: 'Junio', value: 6 },
        { label: 'Julio', value: 7 },
        { label: 'Agosto', value: 8 },
        { label: 'Septiembre', value: 9 },
        { label: 'Octubre', value: 10 },
        { label: 'Noviembre', value: 11 },
        { label: 'Diciembre', value: 12 },
      ]
    };
  },
  watch: {
    "form.beneficio": async function (newVal, oldVal) {
      if (newVal == null) this.setDate(false);
    },
    "form.pagar_beneficio": async function (newVal, oldVal) {
      await this.maxAmount(this.form.beneficio);
      await this.getAdvance(newVal);
    },
    max_amount: function (newVal, oldVal) {
      if (!newVal || newVal == 0) this.noSave = true;
      else this.noSave = false;
    },
    "form.advancedate": async function (v) {
      const hoy = this.$moment().format('YYYY-MM-DD')
      const select = this.$moment(v).format('YYYY-MM-DD')
      if(select <= hoy) {
        this.$q.notify({
          message: 'La fecha debe ser mayor al día actual',
          color: 'negative'
        })
        this.form.advancedate = null
      }
    },
  },
  computed: {
    ...mapState("generals", ["user", "company"]),
  },
  methods: {
    async solicitar() {
      this.$refs.date.validate();
      this.$refs.amount.validate();

      if (this.$refs.date.hasError || this.$refs.amount.hasError) {
        return this.$q.notify({
          message: "Campos requeridos",
          color: "negative",
        });
      }

      if (this.form.amount <= 0) {
        this.$q.notify({
          message: "El monto no puede ser un valor negativo",
          color: "negative",
        });
        return;
      }
      
      if (this.form.amount > this.max_amount) {
        this.$q.notify({
          message: "El monto excede el máximo establecido",
          color: "negative",
        });
        return;
      }

      this.$q.loading.show();

      // SUBIR ARCHIVO
      let find_file = false;
      if (this.file) {
        const route = await this.uploadFile();
        this.form["file"] = route;
        this.file = null;
        this.file_ = false;
        find_file = true;
      }

      this.form.pagar_beneficio = this.form.beneficio === null ? false : true;
      if (!this.form._id) this.form.employee = this.user._id;

      this.form.advancedate = this.$moment(this.form.advancedate)
      await this.$api
        .post("anticipos/solicitar", {
          user: this.user,
          url: this.company.apiUrl,
          company: this.user.data.__company__,
          parent_company: this.user.data.parent_company,
          data: this.form,
          file: find_file,
        })
        .then((val) => {
          this.form = {
            pagar_beneficio: false,
          };

          this.$q.notify({
            message: "Anticipo solicitado con exito",
            color: "positive",
          });
          this.$q.loading.hide();
          if (this.$route.params.id) this.$router.push("/mis-anticipos/lista");
        })
        .catch((error) => {
          this.$q.notify({
            message: error,
            color: "negative",
          });
          this.$q.loading.hide();
        });
    },
    async getDoc() {
      if (this.$route.params.id) {
        this.collection = String(this.$route.params.id).replace("+", "/");
        const res = await this.$api.post("anticipos/get-anticipo", {
          collection: this.collection,
          url: this.company.apiUrl,
          company: this.user.data.__company__,
          parent_company: this.user.data.parent_company,
        });
        this.form = res.data;
        if (this.form.hasOwnProperty("date"))
          this.form["advancedate"] = this.form.date;
      }
    },
    async getRuta(ruta) {
      this.file = ruta;
      this.file_ = true;
    },
    async uploadFile() {
      let route = null;
      await this.$files(
        "/anticipos/upload-file",
        "comprobantes-anticipos/" + this.file[0].name,
        { company: this.user.data.__company__, user: this.user.data._id }
      )
        .put(this.file[0])
        .then(async (ruta) => {
          route = ruta;
        })
        .catch((e) => {
          this.$q.loading.hide();
          this.$q.notify({
            message: "hubo un error al cargar el archivo",
            color: "negative",
          });
        });

      return route;
    },
    async removeFile(file) {
      this.$q
        .dialog({
          title: "Eliminar",
          message: "¿Está seguro de eliminar el comprobante?",
          cancel: true,
          persistent: true,
          color: "n360",
        })
        .onOk(async () => {
          this.$api
            .post("anticipos/remove-file", {
              file: file,
              collection: this.collection,
              url: this.company.apiUrl,
              company: this.user.data.__company__,
              parent_company: this.user.data.parent_company,
              data: this.form,
            })
            .then(async (v) => {
              await this.getDoc();
            });
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    },
    async maxAmount(beneficio) {
      await this.$api
        .post("anticipos/monto-maximo", {
          user: this.user.data._id,
          url: this.company.apiUrl,
          company: this.user.data.__company__,
          empleado: this.user._id,
          beneficio: beneficio ? beneficio : "rolPago",
          form: this.form,
        })
        .then((v) => {
          this.max_amount = v.data;
        });
    },
    async getMotivos() {
      await this.$api
        .post("anticipos/motivos", {
          url: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          if (v.data.length) {
            this.motivos = v.data.map((val) => ({
              label: val.name,
              value: val._id,
            }));
          }
        });
    },
    async getRoles() {
      await this.$api
        .post("anticipos/roles", {
          url: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          if (v.data.length) {
            this.roles = v.data.map((val) => ({
              label: val.name,
              value: val._id,
            }));
          }
        });
    },
    async getAdvance(val) {
      if (!val) {
        this.form.beneficio = null;
      }
      this.setDate(val);
      // Se valida el Descontar de los beneficios sociales de acuerdo al decimo tercer y decimo cuarto sueldo se paga
      // acumulado, se muestra en el select de beneficios
      if (val) {
        let options = await this.$api.post("anticipos/beneficios", {
          url: this.company.apiUrl,
          company: this.user.data.__company__,
          user: this.user,
          view: this.$route.params.id ? true : true,
        });
        this.options = options.data;
      }
    },
    async setDate(descBenefit = true) {
      descBenefit = this.form.beneficio ? true : false;
      if (descBenefit) {
        await this.$api
          .post("anticipos/set-fecha", {
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            role: this.role,
            descBenefit,
            benefit: this.form.beneficio,
            employee:
              this.form.beneficio === "decimo_cuarto"
                ? this.user.data._id
                : null,
          })
          .then((v) => {
            if (v.data) {
              this.form.month = v.data.month;
              this.form.year = v.data.year;
              this.max = v.data.maxDate;
              this.min = v.data.minDate;
            }
          });
      } else {
        await this.$api
          .post("anticipos/set-fecha", {
            url: this.company.apiUrl,
            company: this.user.data.__company__,
            role: this.role,
            descBenefit,
            benefit: "",
            employee: null,
          })
          .then((v) => {
            if (v.data) {
              this.form.month = v.data.month;
              this.form.year = v.data.year;
              this.max = v.data.maxDate;
              this.min = v.data.minDate;
            }
          });

        await this.maxAmount();
      }
      await this.maxAmount(this.form.beneficio);
    },
    async getRole() {
      await this.$api
        .post("anticipos/ultimo-rol", {
          url: this.company.apiUrl,
          company: this.user.data.__company__,
        })
        .then((v) => {
          this.role = v.data;
        });
      this.setDate(false);
    },
  },
  async mounted() {
    await this.$api
      .post("anticipos/configuracion", {
        url: this.company.apiUrl,
        company: this.user.data.__company__,
      })
      .then((v) => {
        this.rolPagoValidate = v.data.rolPago || false;
      });
    await this.getRole();

    if (!this.$route.params.id) {
      this.setDate(false);
      this.options = [];
      this.form.beneficio = null;
      this.max_amount = null;
      this.form.pagar_beneficio = true;
      await this.getAdvance(true);
      if (this.rolPagoValidate) {
        await this.maxAmount();
      }
    } else {
      this.rolPagoValidate = true;
    }

    await this.getDoc();
    await this.$api
      .post("anticipos/mi-aprobador", {
        user: this.user.data._id,
        url: this.company.apiUrl,
        company: this.user.data.__company__,
      })
      .then((val) => {
        this.mi_aprobador = val.data;
      });
    await this.getMotivos();
    await this.getRoles();
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
