<template>
  <q-layout view="lHh Lpr lFf" class="bg-grey-2">
    <q-header class="bg-n360 q-py-md">
      <div class="row justify-between q-mx-md">
        <div class="row q-gutter-x-sm items-center">
          <q-avatar
            icon="admin_panel_settings"
            text-color="white"
            rounded
            size="lg"
            class="bg-purple-n360"
          />
          <div class="text-weight-bold my-title">Panel de Administración</div>
        </div>

        <q-btn flat icon="logout" dense @click="logout" />
      </div>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "PanelMobile",
  components: {},
  data() {
    return {};
  },
  computed: {
    ...mapState("generals", ["user"]),
  },
  methods: {
    logout() {
      this.$router.push("/login");
      this.$q.localStorage.clear();
    },
  },
};
</script>
