<template>
  <q-page class="bg-white">
    <q-virtual-scroll :items="list" class="my-body">
      <template v-slot="{ item, index }">
        <q-item :key="index" clickable>
          <q-item-section v-if="item.search">
            <q-input
              label="Buscar"
              v-model="filter"
              color="n360"
              dense
              borderless
            >
              <template v-slot:append>
                <q-icon name="search" color="n360" />
              </template>
            </q-input>
          </q-item-section>

          <q-item-section v-if="!item.search" class="q-mt-xs">
            <q-item-label>NOMBRE: {{ item.nombre }}</q-item-label>
            <q-item-label caption
              >LUGAR:
              {{ item.lugar }}
            </q-item-label>
          </q-item-section>
          <q-item-section side v-if="!item.search">
            <div>
              <q-btn color="n360" icon="more_vert" dense flat round>
                <q-menu>
                  <q-list style="min-width: 100px">
                    <q-item
                      v-if="!item.recibi_conforme"
                      clickable
                      v-close-popup
                      @click="verMas(item)"
                    >
                      <q-item-section>Ver más</q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-btn>
            </div>
          </q-item-section>
        </q-item>
        <q-separator inset />
      </template>
    </q-virtual-scroll>
    <div
      v-if="list.length <= 1"
      class="my-title text-grey-6 text-center text-subtitle1"
    >
      No se encontraron resultados
    </div>

    <q-dialog v-model="dialog" maximized>
      <q-card>
        <q-card-actions align="right">
          <q-btn flat icon="close" color="n360" v-close-popup />
        </q-card-actions>
        <ver-mas v-model="more_info" />
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
import jsPDF from "jspdf";
import "jspdf-autotable";
import VerMas from "./VerMas.vue";
export default {
  name: "ListadoMobile",
  components: { VerMas },
  data() {
    return {
      filter: "",
      dialog: false,
      more_info: {},
      rows: [],
    };
  },
  watch: {},
  computed: {
    ...mapState("generals", ["user", "company"]),
    list() {
      let fil = this.rows.filter(
        (v) =>
          !this.filter ||
          this.filter.toLowerCase() == v.nombre.toLowerCase() ||
          this.filter.toLowerCase() == v.lugar.toLowerCase()
      );
      fil.unshift({
        search: true,
      });
      return fil;
    },
  },
  methods: {
    listado() {
      try {
        this.$api
          .post("capacitaciones/listado", {
            user: this.user,
            url: this.company.apiUrl,
          })
          .then((v) => {
            this.rows = v.data;
          });
      } catch (error) {
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    verMas(row) {
      this.more_info = row;
      this.dialog = true;
    },
  },
  async mounted() {
    await this.listado();
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
