<template>
  <q-page class="q-pa-sm">
    <div class="bg-white">
      <div class="q-pa-md">
        <q-scroll-area style="height: 580px">
          <!-- Listado -->
          <q-table
            :data="rows"
            :columns="columns"
            :filter="filter"
            :loading="loading"
            row-key="name"
            class="my-title q-mt-lg"
            style="font-size: 15px"
          >
            <template v-slot:top>
              <div class="text-h6">CAPACITACIONES</div>
              <q-space />
              <q-input
                outlined
                dense
                debounce="300"
                v-model="filter"
                placeholder="Buscar"
                color="n360"
              >
                <template v-slot:append>
                  <q-icon name="search" color="n360" />
                </template>
              </q-input>
            </template>
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="nombre" :props="props">
                  {{ props.row.nombre }}
                </q-td>
                <q-td key="lugar" :props="props">
                  {{ props.row.lugar }}
                </q-td>
                <q-td key="fecha" :props="props">
                  {{ $moment(props.row.fecha).format("YYYY-MM-DD-hh:ss") }}
                </q-td>
                <q-td key="fechaf" :props="props">
                  {{ $moment(props.row.fechaf).format("YYYY-MM-DD-hh:ss") }}
                </q-td>
                <q-td key="tiempo" :props="props">
                  {{ props.row.tiempo }}
                  {{
                    Options2.find((v) => v.value == props.row.tduracion)
                      ? Options2.find((v) => v.value == props.row.tduracion)
                          .label
                      : "N/A"
                  }}
                </q-td>
                <q-td key="capacitador" :props="props">
                  {{ props.row.capacitador }}
                </q-td>
                <q-td key="create" :props="props">
                  {{ $moment(props.row.created_at).format("YYYY-MM-DD") }}
                </q-td>

                <q-td key="actions" :props="props">
                  <q-btn
                    color="n360"
                    outline
                    label="Ver más"
                    size="sm"
                    @click="verMas(props.row)"
                  />
                </q-td>
              </q-tr>
            </template>
          </q-table>
        </q-scroll-area>
      </div>
    </div>

    <!-- DIALOGS -->
    <q-dialog v-model="dialog_mas">
      <q-card style="width: 500px; max-width: 80vw; max-height: 50vw">
        <q-card-actions align="right">
          <q-btn flat icon="close" color="n360" v-close-popup />
        </q-card-actions>
        <ver-mas v-model="ver_mas" />
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
import VerMas from "./VerMas.vue";
import jsPDF from "jspdf";
import "jspdf-autotable";
export default {
  name: "ListadoDesktop",
  components: {
    VerMas,
  },
  data() {
    return {
      filter: "",
      dialog_mas: false,
      loading: false,
      rows: [],
      ver_mas: {},
      columns: [
        {
          name: "nombre",
          required: true,
          label: "NOMBRE",
          align: "left",
          field: "nombre",
          sortable: true,
        },
        {
          name: "lugar",
          required: true,
          label: "LUGAR",
          align: "left",
          field: "lugar",
          sortable: true,
        },
        {
          name: "fecha",
          required: true,
          label: "FECHA DE INICIO",
          align: "center",
          field: "fecha",
          sortable: true,
        },
        {
          name: "fechaf",
          required: true,
          label: "FECHA DE FINALIZACIÓN",
          align: "center",
          field: "fechaf",
          sortable: true,
        },
        {
          name: "tiempo",
          required: true,
          label: "TIEMPO",
          align: "center",
          field: "tiempo",
          sortable: true,
        },
        {
          name: "capacitador",
          required: true,
          label: "CAPACITADOR",
          align: "center",
          field: "capacitador",
          sortable: true,
        },
        {
          name: "create",
          required: true,
          label: "FECHA DE GENERACIÓN",
          align: "center",
          field: "created_at",
          sortable: true,
        },
        { name: "actions", align: "right", label: "Acciones", sortable: true },
      ],
      Options: [
        {
          label: "Quincenas",
          value: "quincena",
        },
        {
          label: "Meses",
          value: "fdm",
        },
      ],
      Options2: [
        {
          label: "Horas",
          value: "hors",
        },
        {
          label: "Dias",
          value: "dias",
        },
        {
          label: "Semanas",
          value: "sem",
        },
        {
          label: "Meses",
          value: "mes",
        },
      ],
    };
  },
  watch: {},
  computed: {
    ...mapState("generals", ["user", "company"]),
  },
  methods: {
    listado() {
      try {
        this.$api
          .post("capacitaciones/listado", {
            user: this.user,
            url: this.company.apiUrl,
          })
          .then((v) => {
            this.rows = v.data;
          });
      } catch (error) {
        this.$q.notify({
          message: error,
          color: "negative",
        });
      }
    },
    verMas(row) {
      this.ver_mas = row;
      this.dialog_mas = true;
    },
  },
  async mounted() {
    await this.listado();
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
