<template>
  <q-page class="q-pa-md">
    <div class="bg-white">
      <div class="q-px-md q-py-sm">
        <q-btn
          @click="solicitar"
          label="Solicitar"
          class="btn-n360 my-title full-width"
        />
      </div>
      <div
        align="center"
        class="text-weight-bold text-subtitle1 text-grey-6 my-title"
      >
        Aprobador de Departamento <br />
        ({{ mi_aprobador }})
      </div>
      <div>
        <div class="column items-center q-gutter-y-md my-body">
          <div style="width: 300px">
            <q-input
              ref="date"
              label="Día del Anticipo"
              v-model="form.advancedate"
              color="n360"
              readonly
              :rules="[(val) => !!val || '* Requerido', ,]"
            >
              <template v-slot:prepend>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    cover
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date
                      v-model="form.advancedate"
                      mask="YYYY-MM-DD"
                      color="n360"
                      :navigation-min-year-month="min"
                      :navigation-max-year-month="max"
                    >
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="cerrar" flat />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
          <div style="width: 300px">
            <q-input
              ref="amount"
              v-model="form.amount"
              label="Monto"
              color="n360"
              type="number"
              :rules="[(val) => !!val || '* Requerido', ,]"
              :hint="'Monto máximo ' + max_amount + '$'"
            />
          </div>
          <div style="width: 300px">
            <p class="q-mb-xs text-weight-bold">
              Descontar de los beneficios sociales
            </p>

            <q-radio
              color="n360"
              v-model="form.pagar_beneficio"
              :val="true"
              label="Si"
            />
            <q-radio
              color="n360"
              v-model="form.pagar_beneficio"
              :val="false"
              label="No"
            />
          </div>
          <div class="column items-center" v-if="form.pagar_beneficio">
            <div style="width: 300px">
              <q-input
                v-model="form.year"
                label="Año del periodo"
                color="n360"
                type="number"
              />
            </div>
            <div style="width: 300px">
              <q-select
                v-model="form.beneficio"
                label="Beneficio"
                color="n360"
                :options="[
                  { label: 'Décimo tercero', value: 'decimo_tercero' },
                  { label: 'Décimo cuarto', value: 'decimo_cuarto' },
                  { label: 'Utilidades', value: 'utilidades' },
                ]"
                emit-value
                map-options
              />
            </div>
            <div style="width: 300px">
              <q-select
                v-model="form.beneficio"
                label="Beneficio"
                color="n360"
                :options="[
                  { label: 'Décimo tercero', value: 'decimo_tercero' },
                  { label: 'Décimo cuarto', value: 'decimo_cuarto' },
                  { label: 'Utilidades', value: 'utilidades' },
                ]"
                emit-value
                map-options
              />
            </div>
          </div>
          <div style="width: 300px" class="q-pb-md">
            <q-list bordered class="rounded-borders">
              <q-expansion-item
                expand-separator
                dense
                dense-toggle
                icon="upload"
                label="Cargar comprobante"
                header-class="text-n360"
              >
                <q-card>
                  <q-card-section>
                    <q-uploader
                      v-if="!form.file"
                      class="text-left"
                      color="purple-10"
                      style="max-width: 270px; color: #7a2ddb"
                      label="Archivo"
                      @added="getRuta"
                      @removed="(file = null), (file_ = false)"
                      accept=".jpg, .jpeg, .png, .pdf, image/*"
                      :readonly="file_"
                    />
                    <div v-else class="my-title text-center">
                      <p>Eliminar comprobante y recargar</p>
                      <q-btn
                        label="Eliminar"
                        color="n360"
                        outline
                        @click="removeFile(form.file)"
                      />
                    </div>
                  </q-card-section>
                </q-card>
              </q-expansion-item>
            </q-list>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import { mapState } from "vuex";
export default {
  name: "SolicitarMobile",
  data() {
    return {
      form: {
        pagar_beneficio: false,
        employee: null,
      },
      min: this.$moment().format("YYYY/MM"),
      max: this.$moment().format("YYYY/MM"),
      max_amount: null,
      mi_aprobador: null,

      file: null,
      file_: false,
      collection: null,
    };
  },
  watch: {},
  computed: {
    ...mapState("generals", ["user", "company"]),
  },
  methods: {
    async solicitar() {
      this.$refs.date.validate();
      this.$refs.amount.validate();

      if (this.$refs.date.hasError || this.$refs.amount.hasError) {
        return this.$q.notify({
          message: "Campos requeridos",
          color: "negative",
        });
      }

      if (this.form.amount <= 0) {
        this.$q.notify({
          message: "El monto no puede ser un valor negativo",
          color: "negative",
        });
        return;
      }

      if (this.form.amount > this.max_amount) {
        this.$q.notify({
          message: "El monto excede el máximo establecido",
          color: "negative",
        });
        return;
      }

      this.$q.loading.show();

      // SUBIR ARCHIVO
      let find_file = false;
      if (this.file) {
        const route = await this.uploadFile();
        this.form["file"] = route;
        this.file = null;
        this.file_ = false;
        find_file = true;
      }

      if (!this.form._id) this.form.employee = this.user._id;
      await this.$api
        .post("anticipos/solicitar", {
          user: this.user,
          url: this.company.apiUrl,
          company: this.user.data.__company__,
          parent_company: this.user.data.parent_company,
          data: this.form,
          file: find_file,
        })
        .then((val) => {
          this.form = {
            pagar_beneficio: false,
          };

          this.$q.notify({
            message: "Anticipo solicitado con exito",
            color: "positive",
          });
          this.$q.loading.hide();
          if (this.$route.params.id) this.$router.push("/mis-anticipos/lista");
        })
        .catch((error) => {
          this.$q.notify({
            message: error,
            color: "negative",
          });
          this.$q.loading.hide();
        });
    },
    async getDoc() {
      if (this.$route.params.id) {
        this.collection = String(this.$route.params.id).replace("+", "/");
        const res = await this.$api.post("anticipos/get-anticipo", {
          collection: this.collection,
          url: this.company.apiUrl,
          company: this.user.data.__company__,
          parent_company: this.user.data.parent_company,
        });
        this.form = res.data;
        if (this.form.hasOwnProperty("date"))
          this.form["advancedate"] = this.form.date;
      }
    },
    async getRuta(ruta) {
      this.file = ruta;
      this.file_ = true;
    },
    async uploadFile() {
      let route = null;
      await this.$files(
        "/anticipos/upload-file",
        "comprobantes-anticipos/" + this.file[0].name,
        { company: this.user.data.__company__, user: this.user.data._id }
      )
        .put(this.file[0])
        .then(async (ruta) => {
          route = ruta;
        })
        .catch((e) => {
          this.$q.loading.hide();
          this.$q.notify({
            message: "hubo un error al cargar el archivo",
            color: "negative",
          });
        });

      return route;
    },
    async removeFile(file) {
      this.$q
        .dialog({
          title: "Eliminar",
          message: "¿Está seguro de eliminar el comprobante?",
          cancel: true,
          persistent: true,
          color: "n360",
        })
        .onOk(async () => {
          this.$api
            .post("anticipos/remove-file", {
              file: file,
              collection: this.collection,
              url: this.company.apiUrl,
              company: this.user.data.__company__,
              parent_company: this.user.data.parent_company,
              data: this.form,
            })
            .then(async (v) => {
              await this.getDoc();
            });
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    },
  },
  async mounted() {
    await this.$api
      .post("anticipos/monto-maximo", {
        user: this.user.data._id,
        url: this.company.apiUrl,
        company: this.user.data.__company__,
      })
      .then((v) => {
        this.max_amount = v.data || 0;
      });
    await this.getDoc();
    await this.$api
      .post("anticipos/mi-aprobador", {
        user: this.user.data._id,
        url: this.company.apiUrl,
        company: this.user.data.__company__,
      })
      .then((val) => {
        this.mi_aprobador = val.data;
      });
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
