<template>
  <div>
    <div class="text-grey-7 text-h6 text-weight-bold text-center">
      MÁS INOFRMACIÓN
    </div>
    <div class="q-pa-md text-weight-bold text-subtitle2">
      <q-list bordered separator class="rounded-borders">
        <q-item>
          <q-item-section>Fecha de generación:</q-item-section>
          <q-item-section side>
            {{ $moment(form.created_at).format("YYYY-MM-DD") }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Fecha de la falta:</q-item-section>
          <q-item-section side>
            {{ $moment(form.date).format("YYYY-MM-DD") }}
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section>Tipo de falta:</q-item-section>
          <q-item-section side>
            {{
              tipo_faltas.find((v) => v.value == form.type)
                ? tipo_faltas.find((v) => v.value == form.type).label
                : "Sin tipo falta"
            }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Tipo de plazo:</q-item-section>
          <q-item-section side>
            {{
              tipo_term.find((v) => v.value == form.termtype)
                ? tipo_term.find((v) => v.value == form.termtype).label
                : "Sin tipo plazo"
            }}
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Motívo:</q-item-section>
          <q-item-section side>
            {{
              motivos.find((v) => v.value == form.motivo_falta_justificada)
                ? motivos.find((v) => v.value == form.motivo_falta_justificada)
                    .label
                : "N/A"
            }}
          </q-item-section>
        </q-item>
      </q-list>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "VerMas",
  data() {
    return {
      tipo_faltas: [
        { label: "Justificada", value: "justificada" },
        { label: "Injustificada", value: "injustificada" },
      ],
      tipo_term: [
        {
          label: "Horas",
          value: "h",
        },
        {
          label: "Días",
          value: "d",
        },
      ],
      motivos_faltas: [],
    };
  },
  props: {
    value: [],
  },
  watch: {},
  computed: {
    ...mapState("generals", ["user", "company"]),

    motivos() {
      return this.motivos_faltas
        .filter((motivo) => motivo.name !== undefined)
        .map((val) => ({
          label: val.name,
          value: val._id,
        }));
    },
    form: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit("input", val);
      },
    },
  },
  methods: {},
  async mounted() {
    this.$api
      .post("faltas/motivos-faltas", {
        user: this.user,
        url: this.company.apiUrl,
      })
      .then((v) => {
        this.motivos_faltas = v.data;
      });
  },
};
</script>

<style lang="scss">
.btn-n360 {
  background: #7a2ddb;
  color: white;
}
</style>
