<template>
  <div>
    <!-- MOBILE -->
    <home-mobile v-if="$q.platform.is.mobile" />

    <!-- DESKTOP -->
    <home-desktop v-if="$q.platform.is.desktop" />
  </div>
</template>

<script>
import HomeMobile from "src/pages/Mobile/Home/HomeMobile.vue";
import HomeDesktop from "src/pages/Desktop/Home/HomeDesktop.vue";

export default {
  name: "Home",
  components: {
    HomeMobile,
    HomeDesktop,
  },
  data() {
    return {};
  },
};
</script>
